<ion-header>
  <!-- 连接节点 -->
</ion-header>
<ion-content>
  <div class="card-wrapper">
    <div class="card-title">
      <div class="shield-logo" (click)="toggleCanSelectByMyself()" title="{{'SHEILD' | translate}}"></div>
    </div>
    <div class="card-content">
      <div class="row table-head">
        <div class="item-ip">
          <ali-icon name="ifm-account"></ali-icon>
        </div>
        <div class="item-height">
          <ali-icon name="ifm-jinlingyingcaiwangtubiao32"></ali-icon>
        </div>
        <div class="item-ping">
          <ali-icon name="ifm-delay"></ali-icon>
        </div>
        <div class="item-linked-number">
          <ali-icon name="ifm-wallet2"></ali-icon>
        </div>
      </div>
      <div class="table-list">
        <div class="row" *ngFor="let node of peer_list" (click)="selectNode(node)" [class.link-able]="node.delay>0">
          <div class="item-ip" [innerHTML]="node.ip|mask:'@ip'"></div>
          <div class="item-height">{{node.height}}</div>
          <div class="item-ping">
            <ng-container *ngIf="node.delay>=0;else checkingPeer">
              {{node.delay|number:'1.0-0'}}ms
            </ng-container>
            <ng-template #checkingPeer>
              <ali-icon name="ifm-loading" class="ani-rotate-45deg"></ali-icon>
            </ng-template>
          </div>
          <div class="item-linked-number">{{node.linked_number}}</div>
          <div class="item-select">
            <button class="radio-button">
              <input type="radio" name="select-peer-node" [disabled]="!node.delay>0" [value]="node" [(ngModel)]="selected_peer" />
              <span class="checked"></span>
            </button>
          </div>
        </div>
      </div>
      <button class="submit-button start-link" [disabled]="!selected_peer" (click)="linkSelectedNode()">立即开始</button>
    </div>
  </div>
</ion-content>
