page-user-agreement {
	.level-1 {
		text-indent: 2em;
	}
	.level-2 {
		text-indent: 4em;
	}
	h2 {
		font-size: 2rem;
	}
	p {
		font-size: 1.6rem;
		line-height: 3.2rem;
		&.title {
			font-size: 1.8rem;
		}
	}

	.footer {
		.submit-button {
			margin: 1rem auto 1rem auto;
			background: linear-gradient(
				to bottom,
				rgba(#02e5f6, 1),
				rgba(#01acdd, 1)
			);
		}
	}
}
