page-settings-net-version {
  > .content {
    > .scroll-content {
      background-color: #eeeeee;
    }
  }
  .common-list {
    margin-top: 1rem;
    .common-item.checkbox {
      .right {
        display: none;
        color: green;
      }
      &.selected {
        .right {
          display: block;
        }
      }
    }
  }
}
