vote-current-block-income {
  min-height: 22vh;
  max-height: 20rem;
  padding: 0.5rem;
  display: flex;
  position: relative;
  background-color: #fff;
  background: linear-gradient(
    95deg,
    #fcbd4d 0%,
    #fccf45 50%,
    transparent 50.5%,
    transparent 100%
  );
  background-repeat: no-repeat;
  /* &::before {
              content: " ";
              position: absolute;
              width: 50%;
              height: 100%;
              transform: rotate(5deg) scale(0, 0);
              background: linear-gradient(
                to right,
                #fcbd4d 0%,
                #fccf45 100%
              );
              z-index: -1;
              left: 0;
              top: 0;
            } */
  .header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    .title {
      font-size: 2.8rem;
      display: flex;
      align-items: center;
      ali-icon {
        font-size: 2.1rem;
      }
    }
    .sub-title {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      ali-icon {
        font-size: 2rem;
        position: relative;
        top: -0.3rem;
        left: -0.3rem;
      }
    }
  }
  .block-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1rem 0;
    .info-item {
      display: flex;
      width: 100%;
      height: 2.6rem;
      align-items: center;
      .title {
        padding-left: 1.2rem;
        font-size: 1.5rem;
        /* flex-basis: 7rem; */
        flex-shrink: 0;
        flex-grow: 0;
        color: #7d7d7d;
      }
      .val {
        text-align: left;
        flex: 1;
        /* flex-grow: 1; */
        padding-left: 0.5rem;
        // background: linear-gradient( // to right, // #f78464 0%, // #fecc49 100% // );
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        > text-gradient {
          justify-content: flex-start;
        }
      }
    }
  }
}
