<div class="header">
  <div class="title">
    {{cur_round_income_amount|amountEuler|number:'1.8-8'}}
  </div>
  <div class="sub-title">
    <ali-icon name="ifm-xiangao"></ali-icon>
    {{'CUR-ROUND-INCOME-AMOUNT'|translate}}
  </div>
</div>
<div class="header2">
  <div class="title">
    <ali-icon name="ifm-xiangao"></ali-icon>
    {{'CUR-ROUND-INCOME-AMOUNT'|translate}}
  </div>
  <div class="my-income-assets">
    IBT {{cur_round_income_amount|amountEuler|number:'1.8-8'}}
  </div>
</div>
<div class="block-info">
  <div class="info-item">
    <div class="title">{{'CURRENT_ROUND'|translate}}</div>
    <div class="val">
      <text-mg [text]="cur_round_income_info.round" from="#f78464" to="#fecc49" fontSize="1.7rem" fontWeight="600"></text-mg>
    </div>
  </div>
  <div class="info-item">
    <div class="title">{{'MY_BLOCKS'|translate}}</div>
    <div class="val">
      <text-mg [text]="cur_round_income_info.block_num" from="#f78464" to="#fecc49" fontSize="1.7rem" fontWeight="600">
      </text-mg>
    </div>
  </div>
  <div class="info-item">
    <div class="title">{{'RECENT_BENEFIT'|translate}}</div>
    <div class="val">
      <text-mg [text]="cur_round_income_info.recent_income_amount|amountEuler|number:'1.8-8'" from="#f78464" to="#fecc49" fontSize="1.7rem" fontWeight="600">
      </text-mg>
    </div>
  </div>
</div>
<div class="block-detail">
  <div class="header">
    <div class="title">
      {{'CURRENT_ROUND'|translate}}
    </div>
    <div class="value">
      <text-mg [text]="cur_round_income_info.round" from="#f78464" to="#fecc49" fontSize="2rem" fontWeight="600"></text-mg>
    </div>
  </div>
  <div class="my-block-list">
    <div class="nav">{{'MY_BLOCKS'|translate}}</div>
    <div class="table-wrapper">
      <div class="th row">
        <div class="item">
          <ali-icon name="ifm-clock"></ali-icon>
          <!-- <div class="title">{{'BLOCK_time'|translate}}</div> -->
        </div>
        <div class="item">
          <ali-icon name="ifm-reward"></ali-icon>
          <!-- <div class="title">{{'BLOCK_reward'|translate}}</div> -->
        </div>
        <div class="item">
          <ali-icon name="ifm-resize-height"></ali-icon>
          <!-- <div class="title">{{'BLOCK_height'|translate}}</div> -->
        </div>
        <div class="item">
          <ali-icon name="ifm-qukuaiguanli"></ali-icon>
          <!-- <div class="title">{{'BLOCK_blockSize'|translate}}</div> -->
        </div>
        <div class="item">
          <ali-icon name="ifm-tran"></ali-icon>
          <!-- <div class="title">{{'BLOCK_numberOfTransactions'|translate}}</div> -->
        </div>
      </div>
      <virtual-scroll #vscroll class="list-container" [items]="my_forging_block_list" (update)="viewPortItems = $event" (change)="onListChange($event)">
        <div class="row" *ngFor="let block of viewPortItems" (click)="routeTo('chain-block-detail',{block:block})">
          <div class="item">
            {{block.timestamp|timestamp|amDateFormat:"YYYY.MM.DD"}}
          </div>
          <div class="item">
            {{block.reward|amountEuler|number:"1.2-2"}}
          </div>
          <div class="item">
            {{block.height}}
          </div>
          <div class="item">
            {{block.payloadLength+block.blockSize|bytes}}
          </div>
          <div class="item">
            {{block.numberOfTransactions}}
          </div>
        </div>
      </virtual-scroll>
    </div>
  </div>
  <div class="footer">
    <div class="title">
      {{'RECENT_BENEFIT'|translate}}
    </div>
    <div class="value">
      <text-mg [text]="cur_round_income_info.recent_income_amount|amountEuler|number:'1.8-8'" from="#f78464" to="#fecc49" fontSize="2rem" fontWeight="600"></text-mg>
    </div>
  </div>
</div>
