<ion-header>
  <div class="bg-img"></div>
  <ion-navbar color="transparent">
    <ion-title>{{'VOTE-LIST'|translate}}</ion-title>
  </ion-navbar>
  <div class="header-nav">
    <div class="in-vote-list" [class.focus]="InOutSubPage.IN_VOTE===current_page" (click)="gotoSubPage(InOutSubPage.IN_VOTE)">
      <ali-icon name="ifm-kaipiaoshenqing"></ali-icon>
      <div class="title">{{'MY_VOTE_IN'|translate}}</div>
    </div>
    <div class="out-vote-list" [class.focus]="InOutSubPage.OUT_VOTE===current_page" (click)="gotoSubPage(InOutSubPage.OUT_VOTE)">
      <ali-icon name="ifm-kaipiao"></ali-icon>
      <div class="title">{{'MY_VOTE_OUT'|translate}}</div>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-content class="in-vote-content" [class.show]="InOutSubPage.IN_VOTE===current_page">
    <!-- <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/%E6%8A%95%E7%A5%A8-%E6%88%91%E5%BE%97%E7%9A%84%E7%A5%A8.jpg" alt=""> -->
    <ion-refresher (ionRefresh)="loadInVoteList($event)" [enabled]="in_vote_mill_list.length">
      <ion-refresher-content [pullingText]="'PULLING_REFRESH_LIST'|translate" [refreshingText]="'LOADING_IN_VOTE_LIST'|translate"></ion-refresher-content>
    </ion-refresher>
    <div class="common-list" [class.empty]="!my_mining_machine.length">
      <div class="no-mills">
        <div class="tip">
          <ali-icon name="ifm-tip"></ali-icon>
          {{'NO_MINING_MACHINE'|translate}}
        </div>
      </div>
      <div class="common-item" *ngFor="let mac of my_mining_machine;index as i">
        <div class="item-header">
          <div class="left">
            <ali-icon name="ifm-mac-address"></ali-icon>
            <span class="address" [innerHTML]="mac.publickKey|mask:'@address'"></span>
          </div>
          <div class="right">IFMChain ARK Ⅰ</div>
        </div>
        <div class="item-content">
          <div class="left">
            <ng-container *ngIf="i==1;else useArk2">
              <mac-ark-1 class="mac-icon" [class.disbaled]="!mac.connected" [progress]="mac.cpu_usage"></mac-ark-1>
            </ng-container>
            <ng-template #useArk2>
              <mac-ark-2 class="mac-icon" [class.disbaled]="!mac.connected" [progress]="mac.cpu_usage"></mac-ark-2>
            </ng-template>
          </div>
          <div class="center">
            <div class="ip">
              <div class="label">IP</div>
              <div class="value" [innerHTML]="mac.ip|mask:'@ip'"></div>
            </div>
            <div class="income">
              <div class="dot"></div>
              <div class="label">{{'PROFIT'|translate}}</div>
              <div class="amount">{{mac.income|amountEuler|number:'1.8-8'}}</div>
            </div>
          </div>
          <div class="right">
            <div class="vote-num">
              {{mac.vote_num||0}}
            </div>
            <div class="label">{{'VOTES'|translate}}</div>
          </div>
        </div>
      </div>
      <div class="bottom-fixed" [class.has-list-item]="my_mining_machine.length">
        <button class="submit-button" (click)="routeTo('vote-add-mining-machine')">
          <div class="inner-text">
            {{'ADD_MINING_MACHINE'|translate}}
          </div>
        </button>
      </div>
    </div>
  </ion-content>
  <ion-content class="out-vote-content" [class.show]="InOutSubPage.OUT_VOTE===current_page">
    <!-- <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/%E6%8A%95%E7%A5%A8-%E6%88%91%E7%A5%A8%E7%9A%84%E6%8A%95.jpg" alt=""> -->
    <ion-slides pager>
      <ion-slide>
        <ion-content [ion-content-scroll-shadow]="{from_color:[252,139,104,0],to_color:[252,180,62,0.3]}">
          <ion-refresher (ionRefresh)="loadOutVoteList($event)">
            <ion-refresher-content [pullingText]="'PULLING_REFRESH_LIST'|translate" [refreshingText]="'LOADING_OUT_VOTE_LIST'|translate"></ion-refresher-content>
          </ion-refresher>
          <div class="common-list">
            <div class="common-item" *ngFor="let vote of out_vote_list">
              <div class="left">{{vote.username||vote.address}}</div>
              <div class="right">
                <ali-icon name="ifm-arrow-to-right"></ali-icon>
              </div>
            </div>
          </div>
          <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMoreOutVoteList())" [enabled]="out_vote_list_config.has_more">
            <ion-infinite-scroll-content [loadingText]="'LOADING_MORE_OUT_VOTE_LIST'|translate"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-content>
      </ion-slide>
      <ion-slide>
        <ion-content [ion-content-scroll-shadow]="{from_color:[252,139,104,0],to_color:[252,180,62,0.3]}">
          <ion-refresher (ionRefresh)="loadCanVoteList($event)">
            <ion-refresher-content [pullingText]="'PULLING_REFRESH_LIST'|translate" [refreshingText]="'LOADING_CAN_VOTE_LIST'|translate"></ion-refresher-content>
          </ion-refresher>
          <div class="common-list">
            <div class="common-item" *ngFor="let delegatePubKey of can_vote_list">
              <div class="left">{{delegatePubKey}}</div>
              <div class="right">
                <ali-icon name="ifm-arrow-to-right"></ali-icon>
              </div>
            </div>
          </div>
          <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMoreCanVoteList())" [enabled]="can_vote_list_config.has_more">
            <ion-infinite-scroll-content [loadingText]="'LOADING_MORE_CAN_VOTE_LIST'|translate"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-content>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
