<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'SETTINGS-CACHE-MANAGE'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- 
file:///C:/Users/gaube/Documents/ifm/_design/todo-4-23/IFMCHAIN%E9%92%B1%E5%8C%85app-%E6%B8%85%E7%A9%BA%E6%89%8B%E6%9C%BA%E7%BC%93%E5%AD%98-%E6%B8%85%E7%90%86%E4%B8%AD.jpg
  <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/%E6%B8%85%E7%90%86%E7%BC%93%E5%AD%98.jpg" alt="">
<img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/%E6%B8%85%E7%90%86%E7%BC%93%E5%AD%982.jpg" alt=""> -->
  <div class="clear-panel">
    <div class="dashboard-wrapper">
      <water-progress
        class="dashboard"
        [text]="cache_size_bytes"
        [progress]="calc_progress"
        [progress-prev-text]="('IN_CALCULATION'|translate)+'\n'"
        [ani-progress]="calcing"
        ></water-progress>
    </div>
    <div class="button-bar">
      <button class="clear" [disabled]="calcing||cleaing||cache_size==0" (click)="clearCache()">
        <ng-container *ngIf="!cleaing">
          {{'TAP_TO_CLEAR'|translate}}
        </ng-container>
        <ng-container *ngIf="cleaing">
          {{'CLEANING'|translate}}
        </ng-container>
      </button>
    </div>
  </div>
</ion-content>
