page-settings-cache-manage {
  @extend .header-no-border;
  > .content {
    background-color: #eeeeee;
  }
  .clear-panel {
    box-sizing: border-box;
    height: 25rem;
    background-color: #fff;
    .dashboard-wrapper {
      margin: 0 auto;
      padding-top: 3rem;
      width: 12rem;
      height: 12rem;
      box-sizing: content-box;
      position: relative;
      > .dashboard {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
          0 0rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      > .detail-info {
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 2;
        font-size: 3rem;
        font-weight: 500;
      }
    }
    .button-bar {
      padding: 2rem 0 4rem 0;
      text-align: center;
      .clear {
        display: inline-block;
        border: 0.05rem solid #64e8f6;
        @extend .clip-text;
        background: linear-gradient(to right, #60d5f9 0%, #65ede4 100%);
        font-size: 1.6rem;
        font-weight: bolder;
        border-radius: 0.5rem;
        padding: 0.8rem 0;
        width: 12rem;
        text-align: center;
      }
    }
  }
}
