page-tabs {
  width: 100%;
  height: 100%;
  background-color: #fff;
  > .pages {
    width: 100%;
    height: 100%;
    > .page-item-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .tabs {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    height: 15.2121vw;
    height: calc(15.2121vw + #{constant(safe-area-inset-bottom)});
    height: calc(15.2121vw + #{env(safe-area-inset-bottom)});
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* align-items: center; */
    z-index: 3;
    background: rgba(#fff, 0.6);
    backdrop-filter: blur(10px);
    border-top: 0.55px solid #eee;
    &.transparent-bg {
      border-top-color: transparent!important;
      background: transparent!important;
      backdrop-filter: none!important;
    }
    &.power-saving {
      .tab-item.selected {
        &::after {
          animation: none !important;
        }
      }
    }
    &.in-0,
    &.in-2,
    &.in-3 {
      background: #fff;
      backdrop-filter: none;
      &.force-hidden{
        display: flex;
        z-index: 0;
      }
    }
    &.force-hidden{
      display: none;
    }
  }

  .tab-item {
    height: 92%;
    // margin-top: 8%;
    top: 8%;
    flex: 1;
    color: #7b7b7b !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .tab-title {
      color: inherit !important;
      font-size: 1.2rem;
      transform: scale(0.8);
    }

    .tab-icon {
      color: inherit !important;
      font-size: 6vw;
    }
  }
  .tab-item.selected {
    color: #fff !important;
    &::before {
      content: " ";
      width: 12vw;
      height: 0%;
      padding-bottom: 12vw;
      font-size: 0;
      position: absolute;
      transform: rotate(45deg) scale(0.98);
      border-radius: 38%;
      z-index: -1;
      top: calc(50% - 6vw);
      left: calc(50% - 6vw);
    }
    &::after {
      content: " ";
      width: 12.4vw;
      height: 0%;
      padding-bottom: 12.4vw;
      font-size: 0;
      position: absolute;
      top: calc(50% - 6.2vw);
      left: calc(50% - 6.2vw);
      transform: rotate(0deg);
      border-radius: 38%;
      z-index: -2;
      animation-duration: 8s;
      animation-name: rotate-tab-bg;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }
    @keyframes rotate-tab-bg {
      0% {
        transform: rotate(0deg);
      }
      50% {
        opacity: 0.8;
        transform: scale(1.1) rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .tab-item.selected {
    &:nth-child(1) {
      &::before {
        background: linear-gradient(to right bottom, #fec849 0%, #f78566 100%);
      }
      &::after {
        background: rgba(#ffdb55, 0.6);
      }
    }
  }

  .tab-item.selected {
    &:nth-child(2) {
      &::before {
        background: linear-gradient(
          to right bottom,
          #67f4e0 0%,
          #67e2ef 50%,
          #66d2fc 100%
        );
      }
      &::after {
        background: rgba(#54e9ef, 0.6);
      }
    }
  }

  .tab-item.selected {
    &:nth-child(3) {
      &::before {
        background: linear-gradient(
          to right bottom,
          #3cdfdc 0%,
          #7cddad 50%,
          #eeda64 100%
        );
      }
      &::after {
        background: rgba(#73e2cc, 0.6);
      }
    }
  }

  .tab-item.selected {
    &:nth-child(4) {
      &::before {
        background: linear-gradient(
          to right bottom,
          #ff5b5a 0%,
          #ff7b67 50%,
          #ff9f77 100%
        );
      }
      &::after {
        background: rgba(#ff5b5a, 0.6);
      }
    }
  }
}
