page-tabs {
  width: 100%;
  height: 100%;
  >.pages {
    width: 100%;
    height: 100%;
    >.page-item-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
    }
  }
  .tabs {
    position: absolute;
    bottom: 0;
    height: 4.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 3;
    background: rgba(#FFF, 0.6);
    backdrop-filter: blur(10px);
    border-top: 0.55px solid #eee;
    &.transparent-bg {
      border-top-color: transparent;
      background: transparent;
      backdrop-filter: none;
    }
  }
  @supports (#{constant(safe-area-inset-bottom)}) {
    .tabs {
      /* Status bar height on iOS 11+ */
      height: calc(#{constant(safe-area-inset-bottom)} + 4.2rem);
    }
  }
  @supports (#{env(safe-area-inset-bottom)}) {
    .tabs {
      /* Status bar height on iOS 11+ */
      height: calc(#{env(safe-area-inset-bottom)} + 4.2rem);
    }
  }
}
