<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'ACCOUNT-VOUCHER-WALLET'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="empty-list" *ngIf="voucher_list.length==0&&page_info.loading==false">
    <img src="assets/imgs/empty-list.png" [alt]="'EMPTY_LIST
'|translate">
    <div class="message">{{'VOUCHER_WALLET_IS_EMPTY'|translate}}</div>
  </div>
  <ion-list class="voucher-list">
    <ion-item-sliding class="list-item" *ngFor="let tran of voucher_list" [ngClass]="'status-'+tran.exchange_status">
      <ion-item (tap)="submitVoucher(tran)">
        <div class="flag">{{'VOUCHER_CONFIRMED'|translate}}</div>
        <div class="ticket-wrapper">
          <offline-transaction-ticket [transaction]="tran"></offline-transaction-ticket>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button class="list-delete" (click)="confirmToDelete(tran)">
          <span class="inner"></span>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMoreData())" [enabled]="page_info.has_more">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
