page-assets-assets-detail {
  @extend .header-no-border;
  .base-info {
    width: 100%;
    padding: 1.9rem 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
    /* box-shadow: 0 0.5rem 1.2rem 0.3rem #ececec; */
    filter: drop-shadow(0rem 0rem 1rem #e0e0e0);
    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url("../assets/imgs/net-circle-gray.png");
      background-size: 300vw 300vw;
      background-position: center -30vw;
      opacity: 1;
      z-index: 0;
      pointer-events: none;
    }
    > .header-line {
      padding: 1.9rem 1.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .assets-logo-shape-wrapper {
        width: 22vw;
        height: 22vw;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 1.4rem;
        filter: drop-shadow(0 0.2vw 0.4vw rgba(0, 0, 0, 0.3));
      }
      > .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        > .name {
          font-size: 1.6rem;
          font-weight: 500;
        }
        > .amount {
          font-weight: bold;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          .remaing-assets {
            font-size: 2.3rem;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: flex-end;
            .remaing {
              font-size: 1.24rem;
              font-weight: normal;
            }
          }
          .rate {
            font-size: 1.8rem;
          }
        }
      }
    }

    > .issues-owner-list {
      padding: 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      > .issues-owner-number {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0.8rem 1.9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.55px solid #efefef;
        > .label {
          font-weight: bolder;
          color: #333;
          font-size: 1.3rem;
          ali-icon {
            margin-right: 1rem;
            font-size: 1.7rem;
          }
        }
        > .value {
          color: #999;
          font-size: 2rem;
        }
      }
      > .issues-owner-rank-list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0.8rem 1.9rem;
        padding-top: 0;
        > .list-title {
          flex-grow: 0;
          flex-shrink: 0;
          height: 3.5rem;
          font-size: 1.3rem;
          color: #333;
          font-weight: bolder;
          display: flex;
          align-items: center;
          ali-icon {
            margin-right: 1rem;
            font-size: 1.5rem;
          }
        }
        > .list-container {
          /* max-height: 62vh; */
          height: 50vh;
        }
        > .list {
          overflow: auto;
          min-height: 38vh;
          max-height: 62vh;
        }
        .item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #999;
          height: 3.6rem;
          > .ranking {
            flex-grow: 0;
            flex-shrink: 0;
            width: 3.8rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .inner {
              height: 1.8rem;
              font-size: 1.3rem;
              border-radius: 50%;
              text-align: center;
              line-height: 1.95rem;
              &.rs-1 {
                font-size: 1.5rem;
                border: 0.55px solid currentcolor;
                width: 1.8rem;
              }
              &.rs-2 {
                font-size: 1.3rem;
                border: 0.55px solid currentcolor;
                width: 1.8rem;
              }
              /* &.rs-3 {
                height: 2rem;
                width: 2rem;
                font-size: 1rem;
                transform: scale(0.9);
                border: 0.55px solid currentcolor;
              } */
              &.rank-1,
              &.rank-2,
              &.rank-3 {
                color: transparent;
                width: 2rem;
                height: 3rem;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                text-align: center;
              }
              &.rank-1 {
                background-image: url("../assets/imgs/assets/assets-rank-1.png");
              }
              &.rank-2 {
                background-image: url("../assets/imgs/assets/assets-rank-2.png");
              }
              &.rank-3 {
                background-image: url("../assets/imgs/assets/assets-rank-3.png");
              }
            }
          }
          > .address {
            flex-grow: 0;
            flex-shrink: 0;
          }
          > .empty-space {
            flex-grow: 1;
          }
          > .balance {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .detail-info {
    position: relative;
    z-index: 1;
    padding: 0 1.6rem;
    > .card {
      padding: 1rem 1.9rem;
      background-color: #fff;
      border-radius: 0.5rem;
      /* box-shadow: -0.4rem -0.4rem 1.5rem 0.4rem #ececec; */
      box-shadow: 0 0 0.5rem #ececec;
      filter: drop-shadow(-0.4rem -0.4rem 1rem #e0e0e0);
      margin-top: 1rem;
    }
    .remaing-freeze-amount {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        > .value {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          font-size: 3rem;
          font-weight: 500;
          color: #333;
          > .unit {
            padding-left: 0.5rem;
            font-weight: lighter;
            font-size: 1.3rem;
            color: #999;
          }
        }
      }
      > .right {
        position: relative;
        > .chart {
          display: block;
          font-size: 1.15rem;
          width: 14rem;
          /* background-color: #74f4e1; */
        }
        > .chart-info {
          position: absolute;
          bottom: 0.3rem;
          width: 100%;
          text-align: center;
          > .value {
            font-size: 1.5rem;
            color: #333;
            > .unit {
              font-weight: lighter;
              font-size: 1.15rem;
              color: #999;
            }
          }
          > .label {
            font-size: 1.15rem;
            color: #999;
          }
        }
      }
    }
    .remaing-publish-amount {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        > .label {
          color: #999;
          font-weight: 500;
          font-size: 1.4rem;
        }
        > .value {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          font-size: 3rem;
          font-weight: 500;
          color: #fe605e;
          > .unit {
            padding-left: 0.5rem;
            font-weight: lighter;
            font-size: 1.3rem;
            color: #999;
          }
        }
        > .init-publish-amount {
          display: flex;
          align-items: center;
          > .label {
            font-size: 1.15rem;
            color: #999;
          }
          > .value {
            padding-left: 0.2rem;
            font-size: 1.5rem;
            color: #333;
            > .unit {
              font-weight: lighter;
              font-size: 1.15rem;
              color: #999;
            }
          }
        }
      }
      > .right {
        > .chart {
          display: block;
          font-size: 1.15rem;
          width: 8rem;
          margin-right: 3rem;
          /* background-color: #74f4e1; */
        }
      }
    }
  }
  .scroll-content {
    .footer-bar {
      /* position: fixed; */
      position: relative;
      bottom: 0;
      width: 100%;
      left: 0;
      // padding: 0rem 0 1.2rem 0;
      padding-bottom: 2rem;
      /* backdrop-filter: blur(2px); */
      filter: drop-shadow(-0.4rem -0.4rem 1rem #e0e0e0);
      z-index: 3;
      > button {
        margin: 0 auto;
        &.destroy {
          background: #fff;
          .inner {
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: bolder;
            background: linear-gradient(to right, #3ecdeb 0%, #3ce6d7 100%);
          }
        }
      }
    }
  }
}
