page-account-my-contacts {
  @extend .header-no-border;
  > .header {
    position: sticky;
    top: 0;
  }
  .search-bar {
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    > .search-contact {
      background-color: #fff;
      > input {
        padding: 0.5rem;
        border-radius: 0.2rem;
        background-color: #eeeeee;
        &::placeholder {
          font-size: 1.2rem;
        }
      }
    }
  }
  .list {
    width: 100%;
    background-color: #eeeeee;
    .username {
      color: #7a7a7a;
      font-size: 1.4rem;
    }
    .address {
      color: #7a7a7a;
      font-size: 1.3rem;
    }
    .options-item {
      font-size: 1.5rem;
      width: 6rem;
    }
    .list-remark {
      background-color: #ff5c5b;
      color: #fff;
    }
    .list-delete {
      background-color: #ff5c5b;
      color: #fff;
    }
    ion-item {
      border-bottom: 0.55px solid #eeeeee !important;
      .item-inner {
        border-bottom: none !important;
      }
    }
    ion-item-options {
      border-bottom: none !important;
    }
  }
  .unconfim-list {
    > .header-divider {
      color: #fff;
      background-image: url("../assets/imgs/tab-account/my-contacts/unconfirm-list-header-bg.jpg");
      background-size: cover;
      padding-left: 1.4rem;
      height: 3.6rem;
      font-size: 1.65rem;
      display: flex;
      align-items: center;
      &.open {
        > .right {
          > ali-icon {
            transform: rotate(0deg) scale(0.9);
            opacity: 0.8;
            > .ifmicon::before {
              text-shadow: none;
            }
          }
        }
      }
      > .right {
        > ali-icon {
          transition-duration: 250ms;
          transform: rotate(-90deg);
          > .ifmicon::before {
            text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
          }
        }
      }
      > .left {
        display: flex;
        flex-direction: row;
        > ali-icon {
          font-size: 2.2rem;
          margin-right: 0.5rem;
        }
      }
    }
    > .common-item {
      > .left {
        align-items: flex-start;
        > .username {
          color: #333;
        }
        > .address {
          /* opacity: 0.8; */
        }
      }
      > .right {
        display: flex;
        flex-direction: row;
        > .button {
          font-size: 3.6rem;
          padding: 0.3rem;
          background-color: transparent;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:active {
            background-color: rgba(255, 255, 255, 0.2);
          }
          &.cancel {
            color: #c2c2c2;
          }
          &.confirm {
            color: #fc5b5e;
          }
        }
      }
    }
  }

  .contact-list {
    > .divider {
      color: #505050;
      height: 2rem;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      padding-left: 1.4rem;
      font-weight: 600;
      position: sticky;
      top: 0;
    }
  }
  .fast-nav {
    position: fixed;
    width: 2rem;
    right: 0;
    font-size: 1.3rem;
    color: #505050;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
  }
}
