page-vote-delegate-detail {
  @extend .header-no-border;
  > .header {
    .toolbar-title-ios {
      color: #fff;
    }

    .back-button {
      .button-inner {
        .back-button-icon {
          &::before {
            color: #fff;
          }
        }
      }
    }
  }
  > .content {
    background: linear-gradient(to bottom, #ffa478 0%, #ff6565 100%);
    > .scroll-content {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      overflow: hidden;
      > .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-image: url("../assets/imgs/net-circle.png");
        background-repeat: no-repeat;
        background-size: 110vh 110vh;
        background-position: 50% 0%;
        opacity: 0.6;
        pointer-events: none;
      }
      > .base-info {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        padding-left: 2.2rem;
        padding-right: 0.8rem;
        > .left {
          color: #fff;
          > .cur-trans-num {
            font-size: 4.5rem;
            font-weight: 600;
          }
          > .online-rate {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            > .label {
              font-size: 1.2rem;
              margin-right: 0.3rem;
            }
          }
        }
        > .right {
          margin-top: 1rem;
          > .in-vote-rate {
            display: flex;
            align-items: center;
            padding: 0.75rem 1rem 0.65rem 1rem;
            background-color: #fff;
            border-radius: 4rem;
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
            > .label {
              font-weight: 500;
              color: #717171;
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              margin-right: 0.5rem;
              ali-icon {
                font-size: 1.7rem;
                margin-right: 0.3rem;
                font-weight: bolder;
              }
            }
            > .value {
              font-size: 1.5rem;
              font-weight: 600;
              color: #fd5a57;
            }
          }
        }
      }
      > .address {
        padding-left: 2.2rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        color: #fff;
        font-weight: 1.6rem;
        display: flex;
        align-items: center;
        font-weight: lighter;
        ali-icon {
          font-size: 1.4rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .block-content {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    .row {
      padding: 0;
      width: 100%;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      justify-content: space-around;
      font-size: 1.3rem;
      > .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        &:first-child {
          flex: 1.4;
        }
      }
    }
    > .table-header {
      color: #7c7c7c;
      font-weight: 600;
      font-size: 1.4rem;
      padding-top: 1.6rem;
      ali-icon {
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 0.2rem;
      }
    }
    > ion-content {
      width: 100%;
      flex-shrink: 1;
      flex-grow: 1;
      > .scroll-content {
        border-top: none;
        background-color: #eeeeee;
      }
    }
  }
}
