<ion-header [backdrop-blur]=0>
  <ion-navbar color="transparent">
    <ion-title>{{'SUBCHAIN-ISSUING-SUBCHAIN'|translate}}</ion-title>
    <ion-buttons end>
      <button class="modal-close-button" ion-button (click)="closeModal()">
        <ali-icon name="ifm-shiliangzhinengduixiang9"></ali-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <div class="header-nav-bg"></div>
  <div id="new_subchain_form" class="new-subchain-form">
    <div class="logo-wrapper">
      <div class="subchain-logo-shape-wrapper">
        <button mat-button class="subchain-logo-shape logo-uploader" (click)="pickSubchainLogo()">
          <ng-container *ngIf="!formData.logo;else showLogo">
            <ali-icon name="ifm-zengjia"></ali-icon>
          </ng-container>
          <ng-template #showLogo>
            <img [src]="domSanitizer.bypassSecurityTrustUrl(formData.logo)" alt="LOGO">
          </ng-template>
        </button>
      </div>
    </div>
    <div class="common-form subchain-base-info">
      <div class="mat-container name">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_NAME'|translate" min="1" [(ngModel)]="formData.name" set-input-status="name" [errorStateMatcher]="matFormMatcherFactory('name')">
          <mat-error *ngIf="errors?.name?.WRONG_RANGE">
            {{errors.name.WRONG_RANGE|translate}}
          </mat-error>
          <mat-error *ngIf="errors?.name?.WRONG_CHAR">
            {{errors.name.WRONG_CHAR|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container abbreviation">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_ABBREVIATION'|translate" min="1" [(ngModel)]="formData.abbreviation" set-input-status="abbreviation" [errorStateMatcher]="matFormMatcherFactory('abbreviation')">
          <mat-error *ngIf="errors?.abbreviation?.WRONG_CHAR">
            {{errors.abbreviation.WRONG_CHAR|translate}}
          </mat-error>
          <mat-error *ngIf="errors?.abbreviation?.WRONG_RANGE">
            {{errors.abbreviation.WRONG_RANGE|translate}}
          </mat-error>
        </mat-form-field>
        <div class="tip">
          <ali-icon name="ifm-dialog-warning"></ali-icon>
          {{'SUBCHAIN_ABBREVIATION_TIP'|translate}}
        </div>
      </div>
      <div class="banner-wrapper">
        <div class="subchain-banner-shape-wrapper">
          <button mat-button class="subchain-banner-shape banner-uploader" (click)="pickSubchainBanner()">
            <div class="banner-text" *ngIf="!formData.banner;else showBanner">
              <ali-icon name="ifm-zengjia"></ali-icon>
              {{'PICK_SUBCHAIN_BANNER'|translate}}
            </div>
            <ng-template #showBanner>
              <img [src]="domSanitizer.bypassSecurityTrustUrl(formData.banner)" alt="BANNER">
            </ng-template>
          </button>
        </div>
        <div class="tip">
          <ali-icon name="ifm-dialog-warning"></ali-icon>
          {{'SUBCHAIN_BANNER_TIP'|translate}}
        </div>
      </div>
      <div class="mat-container genesis-secret">
        <mat-form-field>
          <textarea data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_GENESIS_SECRET'|translate" min="1" [(ngModel)]="formData.genesisSecret" set-input-status="genesisSecret" [errorStateMatcher]="matFormMatcherFactory('genesisSecret')" auto-full-height-textarea></textarea>
          <mat-error *ngIf="errors?.genesisSecret?.WRONG_SECRET">
            {{errors.genesisSecret.WRONG_SECRET|translate}}
          </mat-error>
        </mat-form-field>
        <div class="tip">
          <ali-icon name="ifm-dialog-warning"></ali-icon>
          {{'SUBCHAIN_BASE_INFO_TIP'|translate}}
        </div>
      </div>
    </div>
    <div class="common-form subchain-config">
      <div class="form-title">
        <!-- 出块配置 -->
        <ali-icon name="ifm-configure"></ali-icon>
        {{'SUBCHAIN_FORGE_BLOCK_CONFIGURATION'|translate}}
      </div>
      <div class="mat-container forge-interval">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_FORGE_INTERVAL'|translate" type="number" min="1" [(ngModel)]="formData.forgeInterval" set-input-status="forgeInterval" [errorStateMatcher]="matFormMatcherFactory('forgeInterval')">
          <span matSuffix>{{'SECOND'|translate}}</span>
          <mat-error *ngIf="errors?.forgeInterval?.WRONG_RANGE">
            {{errors.forgeInterval.WRONG_RANGE|translate}}
          </mat-error>
          <mat-error *ngIf="errors?.forgeInterval?.WRONG_NUMBER">
            {{errors.forgeInterval.WRONG_NUMBER|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container mini-fee">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_MINI_FEE'|translate" type="number" min="0" [(ngModel)]="formData.miniFee" set-input-status="miniFee" [errorStateMatcher]="matFormMatcherFactory('miniFee')">
          <mat-error *ngIf="errors?.miniFee?.WRONG_RANGE">
            {{errors.miniFee.WRONG_RANGE|translate}}
          </mat-error>
          <mat-error *ngIf="errors?.miniFee?.WRONG_NUMBER">
            {{errors.miniFee.WRONG_NUMBER|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container genesis-node-address">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_GENESIS_NODE_ADDRESS'|translate" [(ngModel)]="formData.genesisNodeAddress" set-input-status="genesisNodeAddress" [errorStateMatcher]="matFormMatcherFactory('genesisNodeAddress')">
          <mat-error *ngIf="errors?.genesisNodeAddress?.WRONG_URL">
            {{errors.genesisNodeAddress.WRONG_URL|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container magic">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_MAGIC'|translate" [(ngModel)]="formData.magic" set-input-status="magic" [errorStateMatcher]="matFormMatcherFactory('magic')">
          <mat-error *ngIf="errors?.magic?.WRONG_RANGE">
            {{errors.magic.WRONG_RANGE|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="tip">
        <ali-icon name="ifm-dialog-warning"></ali-icon>
        {{'SUBCHAIN_FORGE_BLOCK_CONFIGURATION_TIP'|translate}}
      </div>
    </div>
    <div class="common-form reward-per-block">
      <div class="form-title">
        <!-- 区块阶梯奖励 -->
        <ali-icon name="ifm-jietijiangli"></ali-icon>
        {{'SUBCHAIN_REWARDPERBLOCK_CONFIGURATION'|translate}}
      </div>
      <div class="reward-block-item" *ngFor="let item of formData.rewardPerBlock;let i = index">
        <div class="mat-container block-height">
          <mat-form-field>
            <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'REWARDPERBLOCK_BLOCK_HEIGHT'|translate" type="number" min="1" [(ngModel)]="item.height" set-input-status="rewardPerBlock" [errorStateMatcher]="matFormMatcherFactory('rewardPerBlock')"/>
            <mat-error *ngIf="errors?.rewardPerBlock?.WRONG_INDEX==i && errors?.rewardPerBlock?.WRONG_HEIGHT">
              {{errors.rewardPerBlock.WRONG_HEIGHT|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mat-container reward-amount">
          <mat-form-field>
            <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'REWARDPERBLOCK_BLOCK_REWARD'|translate" type="number" min="0" [(ngModel)]="item.reward" set-input-status="rewardPerBlock" [errorStateMatcher]="matFormMatcherFactory('rewardPerBlock')"/>
            <mat-error *ngIf="errors?.rewardPerBlock?.WRONG_INDEX==i && errors?.rewardPerBlock?.WRONG_REWARD">
              {{errors.rewardPerBlock.WRONG_REWARD|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-icon-button (click)="removeRewardBlockItem(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
      <button mat-button class="new-reward-block-item" (click)="addRewardBlockItem()">
        <!-- <ali-icon name="ifm-add"></ali-icon> -->
        <mat-icon>add_circle_outline</mat-icon>
        {{'ADD_REWARD_BLOCK_ITEM'|translate}}
      </button>
    </div>
    <div class="common-form subchain-config">
      <div class="form-title">
        <!-- 搜索端口列表 -->
        <ali-icon name="ifm-jigouwangluoduankouzizhufuwu"></ali-icon>
        {{'SUBCHAIN_NET_PORT_CONFIGURATION'|translate}}
      </div>
      <div class="mat-container search-port">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_SEARCH_PORT'|translate" type="number" min="1" [(ngModel)]="formData.searchPort" set-input-status="searchPort" [errorStateMatcher]="matFormMatcherFactory('searchPort')">
          <mat-error *ngIf="errors?.searchPort?.WRONG_PORT_RANGE">
            {{errors.searchPort.WRONG_PORT_RANGE|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container port-web">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_PORT_WEB'|translate" type="number" min="1" [(ngModel)]="formData.port.web" set-input-status="port_web" [errorStateMatcher]="matFormMatcherFactory('port_web')">
          <mat-error *ngIf="errors?.port_web?.WRONG_PORT_RANGE">
            {{errors.port_web.WRONG_PORT_RANGE|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container port-p2p">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_PORT_P2P'|translate" type="number" min="1" [(ngModel)]="formData.port.p2p" set-input-status="port_p2p" [errorStateMatcher]="matFormMatcherFactory('port_p2p')">
          <mat-error *ngIf="errors?.port_p2p?.WRONG_PORT_RANGE">
            {{errors.port_p2p.WRONG_PORT_RANGE|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mat-container port-p2pfortrs">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'PLEASE_INPUT_SUBCHAIN_PORT_P2PFORTRS'|translate" type="number" min="1" [(ngModel)]="formData.port.p2pForTrs" set-input-status="port_p2pForTrs" [errorStateMatcher]="matFormMatcherFactory('port_p2pForTrs')">
          <mat-error *ngIf="errors?.port_p2pForTrs?.WRONG_PORT_RANGE">
            {{errors.port_p2pForTrs.WRONG_PORT_RANGE|translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="common-form delegates-secret">
      <div class="form-title">
        <!-- 初始化的委托人集合 -->
        <ali-icon name="ifm-kuanggong"></ali-icon>
        {{'SUBCHAIN_DELEGATES_SECRET_CONFIGURATION'|translate}}
      </div>
      <div class="delegates-secret-item" *ngFor="let item of formData.delegatesSecret;let i = index">
        <div class="mat-container delegate-secret">
          <mat-form-field>
            <input data-keyboard-view-position="height" data-keyboard-move-node="new_subchain_form" matInput [placeholder]="'DELEGATESSECRET_SECRET'|translate" [(ngModel)]="item.secret" set-input-status="delegatesSecret" [errorStateMatcher]="matFormMatcherFactory('delegatesSecret')"/>
            <mat-error *ngIf="errors?.delegatesSecret?.WRONG_INDEX==i && errors?.delegatesSecret?.ITEM_WRONG_SECRET">
              {{errors.delegatesSecret.ITEM_WRONG_SECRET|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-icon-button (click)="removeDelegatesSecretItem(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
      <button mat-button class="new-delegates-secret-item" (click)="addDelegatesSecretItem()">
        <!-- <ali-icon name="ifm-add"></ali-icon> -->
        <mat-icon>add_circle_outline</mat-icon>
        {{'ADD_DELEGATES_SECRET_ITEM'|translate}}
      </button>
    </div>
    <div class="common-form sign-data">
      <!-- 密码与手续费 -->
      <div class="mat-container pwd">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'PLEASE_INPUT_LOGIN_PASSPHRASE'|translate" type="password" [(ngModel)]="formData.pwd" set-input-status="pwd" [errorStateMatcher]="matFormMatcherFactory('pwd')">
        </mat-form-field>
      </div>
      <div class="mat-container pay_pwd" *ngIf="formData.need_pay_pwd">
        <mat-form-field>
          <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'PLEASE_INPUT_PAY_PASSPHRASE'|translate" type="password" [(ngModel)]="formData.pay_pwd" set-input-status="pay_pwd" [errorStateMatcher]="matFormMatcherFactory('pay_pwd')">
          <mat-error *ngIf="errors?.pay_pwd?.VerificationFailure">
            {{errors.pay_pwd.VerificationFailure|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fee-info" (click)="setFee()">
        <ali-icon name="ifm-info"></ali-icon>
        <span class="fee">{{formData.fee|number:'1.8-8'}}
          <span class="unit">IBT</span></span>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="agree-user-agreement" [class.agreed]="formData.agree_user_aggreement" (click)="toggleAgreement()">
      <div class="checkbox">
        <ali-icon name="ifm-dagou"></ali-icon>
      </div>
      {{'AGREE_TO_THE_USER_AGREEMENT_OF_SUBCHAIN'|translate}}
    </div>
    <button mat-button class="submit-button" [disabled]="!canSubmit" (click)="submit()">{{'ISSUED_IMMEDIATELY'|translate}}</button>
  </div>
</ion-content>
<ion-footer [keyboardAttach]="content"></ion-footer>
