page-account-scan-add-contact {
  @extend .header-no-border;
  >.content{
  	background: none;
  	>.scroll-content{
	  	background: none;
  	}
  }
  .scan-view {
    position: fixed;
    top: 0;
    height: 0;
    width: 100vw;
    height: 100vh;
  }
}
