page-account-peer-list {
  @extend .header-no-border;
  > .content {
    > .scroll-content {
      background-color: #eeeeee;
    }
  }
  .cur-peer-list {
    margin-top: 1rem;
    > .header {
      background-color: #fff;
      color: #4e4e4e;
      height: 4rem;
      padding-left: 1.8rem;
      display: flex;
      align-items: center;
    }
    > .row {
      display: flex;
      align-items: center;
      background: #fff;
      color: #7b7b7b;
      justify-content: space-around;
      padding: 0;
      position: relative;
      &.disabled {
        background-color: #eee;
      }
      > .item {
        flex: 1;
        text-align: center;
        &.ip {
          // padding-left: 1.6rem;
          flex: 2;
        }
        &.system-type {
          font-size: 3rem;
        }
      }
      .fetching-progress {
        display: none;
        background-color: #FFB74D;
        position: absolute;
        top: 69.1%;
        left: 0;
        width: 100%;
        height: 100%;
        transition-property: width;
        transition-duration: 250ms;
        height: 0.15rem;
        border-radius: 1rem;
        &::after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: 50px 50px;
          /*    background-image: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 5%,
            rgba(255, 255, 255, 0.2) 5%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent 100%
          ); */
          background-image: -webkit-gradient(
            linear,
            0 0,
            100% 100%,
            color-stop(0.25, rgba(255, 255, 255, 0.6)),
            color-stop(0.25, transparent),
            color-stop(0.5, transparent),
            color-stop(0.5, rgba(255, 255, 255, 0.6)),
            color-stop(0.75, rgba(255, 255, 255, 0.6)),
            color-stop(0.75, transparent),
            to(transparent)
          );
          animation: move 2s linear infinite;
        }
      }
      &.fetching {
        color: #333;
        .fetching-progress {
          display: block;
        }
      }
    }
    > .table-head {
      font-size: 1.9rem;
      // height: 2.6rem;
      background-color: transparent;
      padding-top: 0.8rem;
      padding-bottom: 1.2rem;
    }
  }
}
