page-account-peer-list {
  @extend .header-no-border;
  >.content {
    >.scroll-content {
      background-color: #eeeeee;
    }
  }
  .cur-peer-list {
    margin-top: 1rem;
    >.header {
      background-color: #fff;
      color: #4e4e4e;
      height: 4rem;
      padding-left: 1.8rem;
      display: flex;
      align-items: center;
    }
    >.row {
      display: flex;
      align-items: center;
      background: #fff;
      color: #7b7b7b;
      justify-content: space-around;
      padding: 0;
      >.item {
        flex: 1;
        text-align: center;
      }
    }
    >.table-head {
      font-size: 2rem;
      height: 2.6rem;
    }
  }
}
