page-pay-transfer-receipt {
  .wave-container {
    >div {
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

  >.content {
    >.scroll-content {
      animation-name: aplha-dark-bg-in;
      animation-duration: 1000ms;
      animation-delay: 250ms;
      animation-fill-mode: forwards;
    }
  }

  @keyframes aplha-dark-bg-in {
    0% {
      background-color: transparent;
    }

    100% {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .transfer-receipt {
    width: 85vw;
    position: absolute;
    top: 8.8rem;
    left: 7.5vw;
    border-radius: 0.6rem;
    overflow: hidden;
    pointer-events: all;
    opacity: 0.2;

    &.rendered {
      transition-duration: 500ms;
      opacity: 1;
    }

    .share {
      position: absolute;
      right: 0;
      top: 0;
      color: #FFF;
      font-size: 1.6rem;
    }
  }
}

.transfer-receipt-modal {
  >ion-backdrop {
    backdrop-filter: blur(5px);
    visibility: visible;
  }

  >.modal-wrapper {
    position: relative;
    pointer-events: none;

    >.ion-page {
      pointer-events: none;

      >.content {
        background: none;
        pointer-events: none;

        >.scroll-content {
          pointer-events: none;
          overflow: hidden;
        }
      }
    }
  }

  .footer-buttons {
    pointer-events: all;
    position: fixed;
    width: 100%;
    bottom: 15%;
    left: 0;

    >button {
      margin: 0 auto;
      display: block;
      width: 12vw;
      height: 12vw;
      border-radius: 50%;
      background: none;
      text-align: center;
      padding: 0;
      line-height: 12vw;

      &.close-button {
        animation-delay: 500ms;
        background-color: #bab8b9;
        color: #fff;
        font-size: 9vw;
      }
    }
  }
}
