vote-pre-round-income-ranking {
  /* padding: 1rem; */
  min-height: 22vh;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.3rem;
  .header {
    padding: 1rem;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #7a7a7a;
    .title {
      font-size: 1.6rem;
    }
    > .my-income-assets {
      font-size: 1.2rem;
      font-weight: lighter;
    }
  }

  .item {
    margin-top: 0;
    margin-bottom: auto;
    color: #aaaaaa;
    height: 100%;
    .ip-address {
      font-size: 1.4rem;
    }
    .ranking-val {
      width: 4rem;
      height: 4rem;
      background-color: #aaaaaa;
      border-radius: 50%;
      border: 0.25rem solid #cacaca;
      font-size: 1.8rem;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.6rem;
    }

    &.ranking-1,
    &.ranking-2,
    &.ranking-3 {
      .ranking-val {
        position: relative;
        background-color: transparent !important;
        border: none !important;
        background-image: url("../assets/imgs/tab-vote/rank123.png");
        border-radius: 0;
        background-size: auto 65%;
        background-position: center bottom;
        background-repeat: no-repeat;
        align-items: flex-start;
        /* color: #ffcd5e; */
        color: #e98956;
        font-size: 1.45rem;
        font-weight: bold;
        transform: scale(1.15);
      }
    }
    &.ranking-1 {
      .ranking-val {
        filter: contrast(120%) saturate(125%) sepia(40%) hue-rotate(2deg);
        color: #f7b022;
      }
    }
    &.ranking-2 {
      .ranking-val {
        filter: grayscale(1);
      }
    }
    &.ranking-3 {
      .ranking-val {
        filter: hue-rotate(-12deg);
        color: #e69037;
      }
    }
    &.me {
      color: #fcb94e;
      .ranking-val {
        /* width: 5rem; */
        /* height: 5rem; */
        /* margin-top: 0rem; */
        /* font-size: 2.4rem; */
        transform: scale(1.3);
        background-color: #fcb94e;
        border: 0.3rem solid #fad495;
        margin-bottom: 0.8rem;
      }
      .ip-address {
        font-size: 1.8rem;
      }
    }
  }
  .rank-info {
    width: 100%;
    flex-grow: 1;
    /* padding: 1rem; */
    /* padding-bottom: 0rem; */
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: fadeInUp 0.8s cubic-bezier(0.11, 0.99, 0.18, 1);
    &.leave {
      display: none;
    }

    .loading {
      font-size: 4rem;
      color: #7a7a7a;
      &.has-list{
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        background-color: rgba(#FFF, 0.3);
      }
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .rank-list {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    display: none;
    position: relative;
    > .list-container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &.enter {
      display: block;
      animation: fadeInUp 0.8s cubic-bezier(0.11, 0.99, 0.18, 1);
    }
    .loading {
      font-size: 4rem;
      color: #7a7a7a;
    }
    .item {
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 2rem;

      .rank-of-me {
        display: none;
      }
      .rank-of-other {
        display: block;
      }
      &.me {
        .rank-of-me {
          display: block;
        }
        .rank-of-other {
          display: none;
        }
      }

      > .ranking-val {
        flex-grow: 0;
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
        border-bottom: 1px solid #eee;
        &.ranking-1,
        &.ranking-2,
        &.ranking-3 {
          margin: 0rem;
          width: 4rem;
          height: 5rem;
          border-bottom: none;
        }
      }
      > .ip-address {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &.list-of-me {
        .ranking-val {
          background-color: #fcb94e;
          border: 0.3rem solid #fad495;
        }
      }
    }
  }
}
