<div class="header">
  <div class="title">
    <ali-icon name="ifm-income-ranking"></ali-icon>
    上轮收益排名
  </div>
  <div class="my-income-assets">
    IBT {{cur_round_income_amount|amountEuler|number:'1.8-8'}}
  </div>
</div>
<div class="rank-info" [class.leave]="show_detail">
  <div class="loading" *ngIf="loading_pre_round_rank_list">
    <ali-icon class="ani-rotate-45deg" name="ifm-loading"></ali-icon>
  </div>
  <div class="item" *ngFor="let rank_item of pre_round_rank_list" [class.me]="rank_item==pre_round_my_benefit" [ngClass]="'ranking-'+rank_item.rate">
    <div class="ranking-val">{{rank_item.rate}}</div>
    <div class="ip-address" *ngIf="userInfo.address==rank_item.address">
      {{'RANK_OF_ME'|translate}}
    </div>
    <div class="ip-address" *ngIf="userInfo.address!=rank_item.address">
      <div class="username" *ngIf="rank_item.rate<=3" [innerHTML]="rank_item.username?rank_item.username:(rank_item.address|mask:'@address')"></div>
      <div class="amount">
        {{rank_item.profit|amountEuler|number:'1.8-8'}}
      </div>
    </div>
  </div>
</div>
<div class="rank-list" [class.enter]="show_detail">
  <div class="loading" *ngIf="loading_pre_round_rank_blist">
    <ali-icon class="ani-rotate-45deg" name="ifm-loading"></ali-icon>
  </div>
  <virtual-scroll #vscroll class="list-container" [items]="pre_round_rank_blist" (update)="viewPortItems = $event" (change)="onListChange($event)">
    <div class="item" *ngFor="let rank_item of viewPortItems" [class.list-of-me]="userInfo.address==rank_item.address" [ngClass]="'ranking-'+rank_item.rate">
      <div class="ranking-val">{{rank_item.rate}}</div>
      <div class="ip-address">
        <div class="username rank-of-me">
          {{'RANK_OF_ME'|translate}}
        </div>
        <div class="username rank-of-other" [innerHTML]="rank_item.username?rank_item.username:(rank_item.address|mask:'@address')" [click-to-copy]="rank_item.address" [copy-success-toast]="'#INFO#_COPY_SUCCESS'|translate:{info:('ACCOUNT_IBT_ADRESS'|translate)}"></div>
        <div class="amount">
          {{rank_item.profit|amountEuler|number:'1.8-8'}}
        </div>
      </div>
    </div>
  </virtual-scroll>
</div>
