<div class="header">
  <div class="title">
    <ali-icon name="ifm-shujuxian"></ali-icon>
    {{'VOTE-MY-CONTRIBUTION'|translate}}
  </div>
  <div class="my-income-assets">
    IBT {{cur_round_income_amount|amountEuler|number:'1.8-8'}}
  </div>
</div>
<div class="detail">
  <div class="transaction-processed item">
    <text-gradient class="value" [text]="my_contribution.detal_tran_num" from="#f78464" to="#fecc49" fontSize="2.6rem" fontWeight="500"></text-gradient>
    <div class="label">{{'PROCESSED_TRAN_NUM'|translate}}</div>
  </div>
  <div class="contributed-traffic item">
    <text-gradient class="value" [text]="my_contribution.contribution_flow|bytes:2" from="#f78464" to="#fecc49" fontSize="2.6rem" fontWeight="500"></text-gradient>
    <div class="label">{{'CONTRIBUTION_TRAFFIC'|translate}}</div>
  </div>
</div>
<div class="list">
  
</div>
<!-- <div class="wave-bg">
  <div class="wave-1"></div>
  <div class="wave-2"></div>
</div>
 -->