<div class="header">
  <div class="title">
    <ali-icon name="ifm-shujuxian"></ali-icon>
    我的贡献
  </div>
  <div class="my-income-assets">
    IBT {{pre_round_my_benefit?.profit|amountEuler|number:'1.8-8'}}
  </div>
</div>
<div class="detail">
  <div class="transaction-processed item">
    <text-gradient class="value" [text]="'0'" from="#f78464" to="#fecc49" fontSize="2.6rem" fontWeight="500"></text-gradient>
    <div class="label">处理交易</div>
  </div>
  <div class="contributed-traffic item">
    <text-gradient class="value" [text]="'0MB'" from="#f78464" to="#fecc49" fontSize="2.6rem" fontWeight="500"></text-gradient>
    <div class="label">贡献流量</div>
  </div>
</div>
<div class="wave-bg">
  <div class="wave-1"></div>
  <div class="wave-2"></div>
</div>
