<ion-header></ion-header>
<ion-content>
  <div class="sticky-title">
    <div class="left">
      <button class="back-button" (tap)="navCtrl.pop()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </div>
    <div class="center">{{'ACCOUNT-ABOUT-IBT'|translate}}</div>
    <div class="right"></div>
  </div>
  <div class="bg-img"></div>
  <div class="bg-color"></div>
  <div class="static-header">
    <div class="info-wrapper" (press)="showVersionInfo()">
      <div class="info">
        <img class="logo" src="assets/imgs/about-ibt/ifmchain-logo-and-title.png" alt="IFMCHAIN" />
        <div class="version-info">v{{version}}</div>
        <div>{{'ABOUT_IBT_INFO'|translate}}</div>
      </div>
    </div>
  </div>
  <div class="news-list">
    <div class="flag">IFMCHAIN新闻</div>
    <div class="news-item" *ngFor="let news of news_list" (click)="news.type!='video'&&routeTo('account-news-detail',{news:news})">
      <div class="title">{{news.title}}</div>
      <div class="base-info">
        <!-- <div class="public-time">
          {{news.public_time}}
        </div> -->
        <div class="author">
          {{news.author}}
        </div>
      </div>
      <div [ngSwitch]="news.type" class="cover-wrapper" [ngClass]="news.type">
        <ng-container *ngSwitchCase="'simple-html'">
          <div class="cover" *ngIf="news.cover_image_url">
            <img [src]="news.cover_image_url" alt="封面">
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'embed'">
          <div class="cover" [innerHTML]="news.html">
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'video'">
          <video class="cover" [src]="news.url" controls="true">
          </video>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="footer">
    <ali-icon name="ifm-youjian"></ali-icon>
    <a href="mailto:ifmteam@ifmchain.com">商务合作：ifmteam@ifmchain.com</a>
    <a href="mailto:service@ifmchain.com">用户服务：service@ifmchain.com</a>
    <ali-icon name="ifm-shequ"></ali-icon>
    <a target="_blank" href="http://github.com/ifmchain">开发者社区：github.com/ifmchain</a>
  </div>
</ion-content>
