page-account-about-ibt {
  > .header {
    color: #fff;
    .back-button {
      color: inherit;
      .back-button-icon {
        color: inherit;
        &::before {
          color: inherit !important;
        }
      }
    }
  }
  @extend .header-no-border;
  > .content {
    > .scroll-content {
      background-color: #f0f0f0;
      margin-top: 0 !important;
      /* position: relative; */
    }
  }
  .sticky-title {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    z-index: 4;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding-top: 20.012px;
    padding-top: #{constant(safe-area-inset-top)};
    padding-top: #{env(safe-area-inset-top)};
    > * {
      flex: 1;
    }
    > .center {
      flex: 2;
      text-align: center;
    }
    > .left {
      transform: translateX(1.6vw);
      .back-button {
        width: 100%;
        height: 100%;
        display: block;
        background-color: transparent;
        color: inherit;
        text-align: left;
        font-size: 2rem;
      }
    }
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 71vw; // 已知的图片比例
    background-position: center center;
    background-image: url(../assets/imgs/about-ibt/header-bg.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .bg-color {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ff5e60;
    z-index: 2;
    height: 4rem;
    box-sizing: content-box;
    padding-top: 20.012px;
    padding-top: #{constant(safe-area-inset-top)};
    padding-top: #{env(safe-area-inset-top)};
    box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.3);
  }
  .static-header {
    color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // margin-top: 4rem;
    // margin-top: calc(4rem + #{constant(safe-area-inset-top)});
    // margin-top: calc(4rem + #{env(safe-area-inset-top)});
    height: 71vw; // 已知的图片比例
    z-index: 3;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(#ff5e60, 0.6) 60%,
      #ff5e60 100%
    );

    > .info-wrapper {
      text-align: center;
      > .info {
        transform: scale(1);
        > .version-info {
          padding: 0;
          text-align: center;
          font-size: 1.25rem;
        }
        > .logo {
          width: 6.8rem;
          margin-top: 1.5rem;
        }
        > div {
          color: #fff;
          padding: 1.2rem;
          text-align: left;
          font-size: 1.5rem;
          font-weight: lighter;
          line-height: 2rem;
        }
      }
    }
    .toolbar-title-ios {
      color: inherit;
    }
  }
  .news-list {
    margin-top: 1.2rem;
    background-color: #fff;
    .flag-line {
      display: block;
      .flag {
        margin-top: 1rem;
        padding-left: 0.7rem;
        padding-right: 2.2rem;
        height: 3.5rem;
        line-height: 3.5rem;
        color: #fff;
        background: linear-gradient(to bottom, #ff6160 0%, #fe926a 100%);
        display: inline-block;
        position: relative;
        font-size: 1.6rem;
        &::after {
          content: " ";
          position: absolute;
          border-top: 3.5rem solid #fff;
          border-left: 2.2rem solid transparent;
        }
      }
    }
    .news-item {
      padding: 1.2rem 1.5rem;
      padding-bottom: 2.2rem;
      border-bottom: 1px #f2f2f2 solid;
      .title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #7b7b7b;
      }
      .base-info {
        font-size: 1.4rem;
        color: #7b7b7b;
        font-weight: lighter;
        display: flex;
        padding: 0.6rem 0 0.8rem 0;
        > * {
          margin-right: 0.7rem;
        }
      }
      .cover {
        font-size: 0;
        max-width: 100%;
        max-height: 21rem;
        overflow: hidden;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
        > iframe {
          max-width: 100%;
          max-height: fit-content;
        }
        & video {
          width: 100%;
        }
      }
    }
  }
  .footer {
    padding-top: 1.8rem;
    padding-bottom: 1.5rem;
    color: #fff;
    background-image: url(../assets/imgs/about-ibt/footer-bg.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    ali-icon {
      &[name="ifm-youjian"] {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
      &[name="ifm-shequ"] {
        font-size: 2.6rem;
        margin-top: 1.7rem;
      }
    }
    .link-line {
      color: inherit;
      text-decoration: none;
      margin: 0;
      padding: 0.6rem 0;
      width: 100%;
      display: flex;
      > .label {
        width: 39%;
        padding-right: 0.8rem;
        text-align: right;
      }
    }
  }
}
