page-account-about-ibt {
  > .header {
    color: #fff;
    .back-button {
      color: inherit;
      .back-button-icon {
        color: inherit;
        &::before {
          color: inherit !important;
        }
      }
    }
  }
  @extend .header-no-border;
  > .content {
    > .scroll-content {
      background-color: #f0f0f0;
      margin-top: 0 !important;
      /* position: relative; */
    }
  }
  .sticky-title {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    z-index: 4;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding-top: 20.012px;
    padding-top: #{constant(safe-area-inset-top)};
    padding-top: #{env(safe-area-inset-top)};
    > * {
      flex: 1;
    }
    > .center {
      flex: 2;
      text-align: center;
    }
    > .left {
      transform: translateX(1.6vw);
      .back-button {
        width: 100%;
        height: 100%;
        display: block;
        background-color: transparent;
        color: inherit;
        text-align: left;
        font-size: 2rem;
      }
    }
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 77.6vw; // 已知的图片比例
    background-position: center top;
    background-image: url(../assets/imgs/about-ibt/header-bg.jpg);
    background-size: contain;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .bg-color {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ff5e60;
    z-index: 2;
    height: 4rem;
    box-sizing: content-box;
    padding-top: 20.012px;
    padding-top: #{constant(safe-area-inset-top)};
    padding-top: #{env(safe-area-inset-top)};
    box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.3);
  }
  .static-header {
    color: #fff;
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
    margin-top: calc(4rem + #{constant(safe-area-inset-top)});
    margin-top: calc(4rem + #{env(safe-area-inset-top)});
    z-index: 3;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      #ff5e60 80%,
      #ff5e60 100%
    );

    > .info-wrapper {
      text-align: center;
      > .info {
        transform: scale(1);
        > .version-info {
          padding: 0;
          text-align: center;
          font-size: 1.25rem;
        }
        > .logo {
          width: 5.6rem;
          margin-top: 1.5rem;
        }
        > div {
          color: #fff;
          padding: 1rem;
          text-align: left;
          font-size: 1.4rem;
          font-weight: lighter;
          line-height: 2rem;
        }
      }
    }
    .toolbar-title-ios {
      color: inherit;
    }
  }
  .news-list {
    margin-top: 1rem;
    background-color: #fff;
    .flag {
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 1.5rem;
      height: 2.5rem;
      line-height: 3rem;
      color: #fff;
      background: linear-gradient(to bottom, #ff6160 0%, #fe926a 100%);
      display: inline-block;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        border-top: 2.5rem solid #fff;
        border-left: 1.5rem solid transparent;
      }
    }
    .news-item {
      padding: 1rem;
      padding-bottom: 1.8rem;
      border-bottom: 1px #f2f2f2 solid;
      .title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #7b7b7b;
      }
      .base-info {
        font-size: 1.3rem;
        color: #7b7b7b;
        font-weight: lighter;
        display: flex;
        margin: 0.5rem 0;
        > .author {
          margin-left: 0.5rem;
        }
      }
      .cover {
        font-size: 0;
        max-width: 100%;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
        > iframe {
          max-width: 100%;
          max-height: fit-content;
        }
      }
    }
  }
  .footer {
    padding-bottom: 1rem;
    color: #fff;
    background-image: url(../assets/imgs/about-ibt/footer-bg.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    ali-icon {
      font-size: 2.6rem;
      margin-top: 1.5rem;
      &[name="ifm-youjian"] {
        font-size: 3rem;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      margin: 0;
      padding: 0.6rem 0;
    }
  }
}
