page-tab-vote {
  background-color: #fff;
  &::before {
    position: absolute;
    width: 128vh;
    height: 128vh;
    top: calc(50vh - 64vh);
    left: calc(50vw - 64vh);
    content: " ";
    background-image: url("../assets/imgs/net-circle-gray.png");
    background-size: 100% 100%;
    background-position: center;
    animation-name: rotate-bg3;
    animation-timing-function: linear;
    animation-duration: 280s * 2;
    animation-iteration-count: infinite;
  }
  > .content-ios {
    background: none;
  }
  .scroll-content {
    overflow: hidden;
  }
  #bg {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    // background-color: purple;
    transition-duration: 0.5s;
    &.bootstrap {
      transform: scale(0.8) translateY(-5%);
    }
    &.vote-detail {
      transform: scale(0.86) translateY(-15%);
    }
  }
  #bg2 {
    overflow: hidden;
    position: fixed;
    height: 56.22vh;
    width: 56.22vh;
    left: calc(50vw - 56.22vh / 2);
    top: 0;
    z-index: -1;
    // background-color: purple;
    transition-duration: 0.5s;
    transform-origin: 50% 0%;
    &.show-big-fall-icon {
      transition-delay: 0.2s;
      opacity: 0;
    }
    &.bootstrap {
      // 26 + 3.3732 / 0.83
      /* transform-origin: 50% 50%; */
      transform: scale(0.83) translateY(#{(26 + 3.3732 - 5.4)/ 0.83}vh);
      // opacity: 0.2;
      > canvas {
        animation-name: rotate-chain-mesh;
        animation-delay: 0.6s;
        animation-timing-function: linear;
        animation-duration: 140s;
        animation-iteration-count: infinite;
      }
    }
    &.vote-detail {
      transform: scale(0.88) translateY(8.6363636363vh);
      // opacity: 1;
    }
  }
  @keyframes rotate-chain-mesh {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #bg3 {
    position: fixed;
    width: 164vw;
    height: 164vw;
    left: -32vw;
    top: -25vw;
    z-index: -2;
    transform: scale(0);
    opacity: 0.4;
    transition-duration: 0.5s;
    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-image: url("../assets/imgs/tab-vote/bg.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      animation-duration: 280s;
      animation-name: rotate-bg3;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      background-color: #fff;
    }
    &.vote-detail {
      transform: scale(1);
      opacity: 1;
    }
    @keyframes rotate-bg3 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
  .pages-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .bootstrap-page {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    transform: scale(3);
    &.bootstrap {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
  }
  .main-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    .auto-start-button-wrapper {
      position: relative;
      top: 26vh;
      /* width: 76vw; */
      width: 42.7286vh;
      /* height: 76vw; */
      height: 42.7286vh;
      border-radius: 50%;
      /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .auto-start-button {
        /*         width: 105.2625%;
height: 105.2625%; */
        width: 100%;
        height: 100%;
        transform: scale(1.052625);
        border-radius: 50%;
        position: relative;
        &::before {
          content: " ";
          transition-duration: 0.25s;
          transition-timing-function: ease-in;
          position: absolute;
          background-image: url("../assets/imgs/tab-vote/start-button.png");
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 1;
          z-index: 1;
          pointer-events: none;
        }
        .press-down-layer,
        .press-down-layer::before,
        .press-down-layer::after {
          content: " ";
          transition-duration: 0.25s;
          transition-timing-function: ease-in;
          position: absolute;
          background-image: url("../assets/imgs/tab-vote/start-button-no-shadow.png");
          transform-origin: 49.8% 50%;
          /*   background-size: 122%;
          background-position: 50% 44%; */
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 2;
          pointer-events: none;
        }
        &.opening {
          &::before {
            opacity: 0;
            transform: scale(0.96);
          }
          .press-down-layer,
          .press-down-layer::after,
          .press-down-layer::before {
            opacity: 1;
            transform: scale(0.96);
            animation-name: rotate-to-open;
            animation-timing-function: ease-in-out;
            animation-duration: 5s;
            animation-iteration-count: infinite;
          }
          .press-down-layer::before {
            z-index: 3;
            opacity: 0.5;
            animation-duration: 3s;
          }
          .press-down-layer::after {
            z-index: 4;
            opacity: 0.5;
            animation-duration: 7s;
          }

          @keyframes rotate-to-open {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg * 30);
            }
          }
        }
      }
    }
  }
  .assets-info {
    position: absolute;
    bottom: 0;
    height: 28%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .balance {
      height: 2.8rem;
      width: 100%;
      > svg {
        width: 100%;
        height: 100%;
        text {
          text-shadow: 0px 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
        }
      }
    }
    .history-logs {
      width: 100%;
      text-align: center;
      .linker {
        font-size: 1.6rem;
        color: #7a7a7a;
      }
    }
  }
  .vote-detail-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    /**/
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    transform: scale(0);
    /*    display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    &.vote-detail {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
    > .toolbar {
      position: absolute;
      top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > button {
        background: transparent;
        font-size: 2.6rem;
        color: #f9935f;
        padding: 0.5rem 1.2rem;
      }
    }
    .fall-icon-into-panel {
      flex-shrink: 0;
      flex-grow: 0;
      position: absolute;
      top: 9.8vh;
      left: 10vw;
      width: 80vw;
      height: 80vw;
      z-index: 10;
      pointer-events: none;
      $ani-dur: 2s;
      div {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      &.start-ani {
        .drilled-into-panel-ani {
          animation-delay: $ani-dur;
          animation-name: drilled-into-panel-ani;
          animation-fill-mode: forwards;
          animation-duration: $ani-dur/2;
          animation-iteration-count: infinite;
          transform-origin: 100% 100%;
          animation-timing-function: ease-out;
        }
        @keyframes drilled-into-panel-ani {
          0% {
            transform: translateY(0);
          }
          60% {
            transform: translateY(-0.5rem);
          }
          100% {
            transform: translateY(1rem);
          }
        }
        /* 金币掉落到面板的动画 */
        .icon-fall-down-ani {
          animation-name: icon-fall-down-ani;
          animation-fill-mode: forwards;
          animation-duration: $ani-dur;
          animation-timing-function: ease-out;
          /* animation-iteration-count: infinite; */
        }
        @keyframes icon-fall-down-ani {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(36vw, calc(40vw + 17vh));
          }
        }
        /* 金币缩放的动画 */
        .icon-scale-ani {
          animation-name: icon-scale-ani;
          animation-fill-mode: forwards;
          animation-duration: $ani-dur * 1.5;
          animation-timing-function: ease-out;
          /* animation-iteration-count: infinite; */
        }
        @keyframes icon-scale-ani {
          0% {
            transform: scale(1) rotate(0deg);
          }
          50% {
            transform: scale(0.18) rotate(#{360 * 1.25}deg);
            box-shadow: 0 0 0 #fff;
          }
          66.666% {
            transform: scale(0.18) rotate(#{360 * 1.25}deg);
            box-shadow: 0 0 2rem #fff;
          }
          100% {
            transform: scale(0) rotate(#{360 * 1.25}deg);
            box-shadow: 0 0 4rem #fff;
          }
        }
      }
      /* 金币翻转的动画 */
      .icon-flip-ani {
        background-image: url("../assets/img/gold-coin/s36.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        animation-name: icon-flip-ani;
        animation-timing-function: steps(36);
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
      }
      @keyframes icon-flip-ani {
        0% {
          background-position-y: 0px;
        }
        100% {
          /* background-position-y: 3456px; */
          background-position-y: 102.857142857%;
        }
      }
      opacity: 0;
      transform: scale(0.4);
      &.show-big-fall-icon {
        transition-duration: 0.7s;
        transition-timing-function: ease-out;
        opacity: 1;
        transform: scale(1);
        .icon-flip-ani {
          animation-duration: 0.3s;
        }
      }
    }
    .ani-wrapper {
      flex-shrink: 0;
      flex-grow: 0;
      position: absolute;
      top: 9.8vh;
      /* top: 13.8vh; */
      left: 10vw;
      width: 80vw;
      height: 80vw;

      opacity: 1;
      transform: scale(1);
      &.show-big-fall-icon {
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
        opacity: 0;
        transform: scale(1.2) !important;
      }

      &::before {
        content: " ";
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -0%;
        top: -0%;
        background-image: url("../assets/imgs/tab-vote/bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        opacity: 0.5;
        pointer-events: none;
      }

      /* transform-origin: 50% 0%; */
      border-radius: 50%;
      .ani-progress {
        pointer-events: none;
        $out_r: 8;
        position: absolute;
        width: calc(100% + #{$out_r}rem);
        height: calc(100% + #{$out_r}rem);
        box-sizing: content-box;
        top: -#{$out_r/2}rem;
        left: -#{$out_r/2}rem;
        /**/
        display: none;
        opacity: 0;
        transition-duration: 0.25s;
        &.show {
          display: block;
          opacity: 1;
        }
        // &.satellite-css{
        //   background-image: url("../assets/imgs/tab-vote/轨道.png");
        //   background-size: 88%;
        //   background-position: center;
        //   background-repeat: no-repeat;
        //   &::after{
        //     content:" ";
        //     background-image: url("../assets/imgs/tab-vote/彗星☄.png");
        //   }
        // }
      }
      .ani-glow {
        /* contain: strict; */
        position: absolute;
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        border-radius: 50%;
        &.show {
        }
        &::after {
          position: absolute;
          content: " ";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: url("../assets/imgs/tab-vote/glow.png");
          background-size: 100%;
          z-index: -1;
          /* opacity: 0.5; */
        }
        > canvas {
          opacity: 0.3;
        }
      }
      .ani-fall-coins {
        contain: strict;
        position: absolute;
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        border-radius: 50%;
        overflow: hidden;
        /**/
        display: none;
        opacity: 0;
        transition-duration: 0.25s;
        &.show {
          display: block;
          opacity: 1;
        }
      }
      .wakuang-person {
        contain: strict;
        position: absolute;
        pointer-events: none;
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        background-image: url("../assets/imgs/tab-vote/human-work2.gif");
        background-repeat: no-repeat;
        background-size: 91%;
        background-position: -25% 100%;
        z-index: 0;
        border-radius: 50%;
        overflow: hidden;
      }
      .ani-container {
        contain: strict;
        position: absolute;
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        perspective: 800px;
        border-radius: 50%;
        overflow: hidden;
        background: radial-gradient(
          ellipse at center,
          rgba(#fff, 0) 0%,
          rgba(#fdd04e, 0) 60%,
          rgba(#fdd04e, 1) 70%
        );
        .ani {
          width: 100%;
          height: 100%;
        }
        .gold-pos-container {
          transition-property: transform;
          transition-timing-function: ease-in;
          position: absolute;
          left: 0;
          top: 0;
          .coin {
            transform: scale(0.8);
            transition-property: transform;
            transition-timing-function: ease-in;
          }
        }
      }
    }

    .extends-panel {
      /* position: relative; */
      /*  align-self: flex-start;
      justify-self: flex-end; */
      position: absolute;
      bottom: 0;
      margin-top: auto;
      padding: 1.5rem 0 0.6rem 0;
      width: 100%;
      .panel-list {
        /* display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        list-style: none;
        padding: 0;
        .panel-item {
          flex-shrink: 0;
          width: 80%;
          margin: 0 10%;
        } */
        .panel-item {
          background: #fff;
          box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
          border-radius: 0.6rem;
          overflow: hidden;
          box-sizing: border-box;
          transform: scale(0.85);
          transform-origin: 50% 50%;
          transition-duration: 250ms;
          &.swiper-slide-prev {
            transform: scale(0.7);
            opacity: 0.8;
            transform-origin: 115% 50%;
            transition-duration: 0ms;
          }
          &.swiper-slide-next {
            transform: scale(0.7);
            opacity: 0.8;
            transform-origin: -15% 50%;
            transition-duration: 0ms;
          }
          $panel-min-height: 22vh;
          $panel-max-height: 20rem;
          .current-block-income {
            width: 100%;
            padding: 0.5rem;
            height: 12rem;
            min-height: $panel-min-height;
            max-height: $panel-max-height;
            display: flex;
            position: relative;
            background-color: #fff;
            background: linear-gradient(
              95deg,
              #fcbd4d 0%,
              #fccf45 50%,
              transparent 50.5%,
              transparent 100%
            );
            background-repeat: no-repeat;
            /* &::before {
              content: " ";
              position: absolute;
              width: 50%;
              height: 100%;
              transform: rotate(5deg) scale(0, 0);
              background: linear-gradient(
                to right,
                #fcbd4d 0%,
                #fccf45 100%
              );
              z-index: -1;
              left: 0;
              top: 0;
            } */
            .header {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: #fff;
              .title {
                font-size: 2.8rem;
              }
              .sub-title {
                font-size: 1.6rem;
              }
            }
            .block-info {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              .info-item {
                display: flex;
                width: 100%;
                height: 2.6rem;
                align-items: center;

                .title {
                  padding-left: 1.2rem;
                  font-size: 1.5rem;
                  /* flex-basis: 7rem; */
                  flex-shrink: 0;
                  flex-grow: 0;
                  color: #7d7d7d;
                }
                .val {
                  text-align: left;
                  flex: 1;
                  /* flex-grow: 1; */
                  padding-left: 0.5rem;
                  // background: linear-gradient(
                  //   to right,
                  //   #f78464 0%,
                  //   #fecc49 100%
                  // );
                  // -webkit-background-clip: text;
                  // -webkit-text-fill-color: transparent;
                  > text-gradient {
                    justify-content: flex-start;
                  }
                }
              }
            }
          }
          .income-ranking {
            width: 100%;
            padding: 1rem;
            min-height: $panel-min-height;
            max-height: $panel-max-height;
            .header {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: #7a7a7a;
              .title {
                font-size: 1.6rem;
              }
              > .my-income-assets {
                font-size: 1.2rem;
                font-weight: lighter;
              }
            }
            .rank-info {
              padding: 1rem;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              .pre-item,
              .cur-item,
              .aft-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #aaaaaa;
                .ip-address {
                  font-size: 1.4rem;
                }
              }
              .ranking-val {
                width: 4rem;
                height: 4rem;
                background-color: #aaaaaa;
                border-radius: 50%;
                border: 0.25rem solid #cacaca;
                font-size: 1.8rem;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.6rem;
              }
              .cur-item {
                color: #fcb94e;
                .ranking-val {
                  width: 5rem;
                  height: 5rem;
                  margin-top: -0.2rem;
                  font-size: 2.4rem;
                  background-color: #fcb94e;
                  border: 0.3rem solid #fad495;
                  margin-bottom: 0.8rem;
                }
                .ip-address {
                  font-size: 1.8rem;
                }
              }
            }
          }
          .income-trend {
            width: 100%;
            padding: 1rem;
            min-height: $panel-min-height;
            max-height: $panel-max-height;
            background: linear-gradient(to right, #faaf52 0%, #fdd04e 100%);
            .header {
              position: relative;
              display: flex;
              flex-direction: row;
              justify-content: center;
              color: #ffffff;
              .title {
                font-size: 1.6rem;
                /* margin: auto; */
              }
              .my-income-assets {
                position: absolute;
                right: 1rem;
                font-size: 1.2rem;
                font-weight: lighter;
                /* margin: auto; */
                /* justify-self: flex-end;
                margin-left: auto; */
              }
            }
          }
          .my-contribution {
            > .header {
              padding: 1rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: #7a7a7a;
              font-size: 1.65rem;
              > .my-income-assets {
                font-size: 1.2rem;
                font-weight: lighter;
              }
            }
            > .detail {
              display: flex;
              padding-bottom: 4rem;
              display: flex;
              align-items: center;
              justify-content: space-around;
              > .item {
                > .value {
                  font-size: 2rem;
                  transform: scaleY(0.9);
                }
                > .label {
                  font-size: 1.5rem;
                  color: #7a7a7a;
                }
              }
            }
          }
          .pre-round-income-rate {
            background: linear-gradient(
              to bottom,
              #fff 0%,
              #fff 50%,
              #fedb8d 75%,
              #fec64a 100%
            );
            > .header {
              padding: 1rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: #7a7a7a;
              font-size: 1.65rem;
              > .my-income-assets {
                font-size: 1.2rem;
                font-weight: lighter;
              }
            }
            > .detail {
              padding-bottom: 1.5rem;
              > .rate-of-return {
                padding-top: 0.5rem;
                padding-bottom: 1.5rem;
              }
              > .extends-info {
                display: flex;
                justify-content: space-between;
                
                padding: 0 2rem;
                color: #fff;
                font-size: 1.55rem;
                font-weight: lighter;
                >.left,>.right{
                  display: flex;
                  align-items: center;
                  &::before{
                    content: " ";
                    display: inline-block;
                    background-color: #FFF;
                    width: 0.4rem;
                    height: 0.4rem;
                    border-radius: 50%;
                    margin-right: 0.8rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .wave-container {
    position: absolute;
    top: 100vh;
    margin-top: auto;
    padding: 1.5rem 0 0.6rem 0;
    width: 100%;
    z-index: -1;
    height: 29%;
    /* transition-duration: 0.2s; */
    .wave-1 {
      /* transition-delay: 0.5s; */
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: 0.5s;
      position: absolute;
      opacity: 1;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      z-index: -1;
      /* background-color: blue; */
      .font-end {
        position: absolute;
        top: -5vh;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('data:image/svg+xml;utf8,
            <svg width="580" height="250" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="m-1.00003,301.95708l651.00001,0l0,-251.03867c-325.5,106.49573 -325.5,-106.4562 -651.00001,19.76312l0,292.34224l0,-60.99541l0,-0.07129l0,0.00001z"/>
            </svg>');
        background-size: 100% 100%;
        background-position: -50vw;
        z-index: -1;
        transform: scaleY(0.7);
        transform-origin: 50% 0%;
        background-repeat: repeat-x;
        &::after {
          content: " ";
          height: 110%;
          width: 100%;
          position: absolute;
          bottom: -100%;
          left: 0;
          background: #fff;
        }
      }
      .showdown {
        position: absolute;
        top: -5vh;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('data:image/svg+xml;utf8,
            <svg width="580" height="250" xmlns="http://www.w3.org/2000/svg">
              <path fill="rgba(0,0,0,0.2)" d="m-1.00003,301.95708l651.00001,0l0,-251.03867c-325.5,106.49573 -325.5,-106.4562 -651.00001,19.76312l0,292.34224l0,-60.99541l0,-0.07129l0,0.00001z"/>
            </svg>');
        background-size: 100% 100%;
        background-position: -50vw;
        z-index: -2;
        transform: scaleY(0.7);
        transform-origin: 50% 0%;
        background-repeat: repeat-x;
        background-repeat: repeat-x;
        filter: blur(20px);
      }
    }
    .wave-2 {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: 0.3s;
      transition-duration: 1s;
      position: absolute;
      opacity: 1;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      z-index: -3;
      /* background-color: blue; */
      .font-end {
        position: absolute;
        top: -4vh;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('data:image/svg+xml;utf8,
            <svg width="580" height="250" xmlns="http://www.w3.org/2000/svg">
              <path fill="rgba(253,208,68,0.8)" d="m-1.00003,301.95708l651.00001,0l0,-251.03867c-325.5,106.49573 -325.5,-106.4562 -651.00001,19.76312l0,292.34224l0,-60.99541l0,-0.07129l0,0.00001z"/>
            </svg>');
        background-size: 100% 100%;
        background-position: -8vw;
        z-index: -1;
        transform: scaleY(0.7);
        transform-origin: 50% 0%;
        background-repeat: repeat-x;
        &::after {
          content: " ";
          height: 100%;
          width: 100%;
          position: absolute;
          bottom: -100%;
          left: 0;
          background: #fff;
        }
      }
    }

    .wave-3 {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: 0.5s;
      transition-duration: 1.2s;
      position: absolute;
      opacity: 1;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      z-index: -2;
      /* background-color: blue; */
      .font-end {
        position: absolute;
        top: -3.8vh;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('data:image/svg+xml;utf8,
            <svg width="580" height="250" xmlns="http://www.w3.org/2000/svg">
              <path fill="rgba(250,141,68,0.6)" d="m-1.00003,301.95708l651.00001,0l0,-251.03867c-325.5,106.49573 -325.5,-106.4562 -651.00001,19.76312l0,292.34224l0,-60.99541l0,-0.07129l0,0.00001z"/>
            </svg>');
        background-size: 100% 100%;
        background-position: 10vw;
        z-index: -1;
        transform: scaleY(0.7);
        transform-origin: 50% 0%;
        background-repeat: repeat-x;
        &::after {
          content: " ";
          height: 100%;
          width: 100%;
          position: absolute;
          bottom: -100%;
          left: 0;
          background: #fff;
        }
      }
    }
    &.bootstrap {
      /* transform: translateY(150%); */
      .wave-1 {
        transition-delay: 0s;
        transform: translateY(5vh);
        opacity: 0;
      }
      .wave-2 {
        transition-delay: 0s;
        transform: translateY(5vh);
        opacity: 0;
      }
      .wave-3 {
        transition-delay: 0s;
        transform: translateY(5vh);
        opacity: 0;
      }
    }
    &.vote-detail {
      /* transform: translateY(0%); */
      .wave-1 {
        transform: translateY(calc(-22vh - 7rem));
      }
      .wave-2 {
        transform: translateY(calc(-22vh - 7rem));
      }
      .wave-3 {
        transform: translateY(calc(-22vh - 7rem));
      }
    }
  }
}
