page-tab-vote {
  $panel-min-height: 22vh;
  $panel-max-height: 20rem;
  $panel-height: 22vh;
  background-color: #fff;
  /* 省电模式 */
  &.power-saving-mode {
    #bg3 {
      &::after {
        animation: none !important;
      }
    }
    #bg2 {
      > canvas {
        animation: none !important;
      }
    }
    &::before {
      animation: none !important;
    }
  }

  &.in-countdown::before {
    background-image: url("../assets/imgs/tab-vote/bg.png");
  }

  &::before {
    position: absolute;
    width: 128vh;
    height: 128vh;
    top: calc(50vh - 64vh);
    left: calc(50vw - 64vh);
    content: " ";
    background-image: url("../assets/imgs/net-circle-gray.png");
    background-size: 100% 100%;
    background-position: center;
    animation-name: rotate-bg3;
    animation-timing-function: linear;
    animation-duration: 280s * 2;
    animation-iteration-count: infinite;
  }
  > .content-ios {
    background: none;
  }
  .scroll-content {
    overflow: hidden;
  }
  #bg {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    // background-color: purple;
    transition-duration: 0.5s;
    &.bootstrap {
      transform: scale(0.8) translateY(-5%);
    }
    &.vote-detail,
    &.extends-panel {
      transform: scale(0.86) translateY(-15%);
    }
  }
  #bg2 {
    overflow: hidden;
    position: fixed;
    height: 100.6vw;
    width: 100.6vw;
    left: calc(50vw - 100.6vw / 2);
    top: 0;
    z-index: -1;
    // background-color: purple;
    transition-duration: 0.5s;
    transform-origin: 50% 0%;
    &.show-big-fall-icon {
      transition-delay: 0.2s;
      opacity: 0;
    }
    &.bootstrap {
      // 26 + 3.3732 / 0.83
      /* transform-origin: 50% 50%; */
      transform: scale(0.83) translateY(#{(26 + 3.3732 - 5.4) / 0.83}vh);
      // opacity: 0.2;
      > canvas {
        animation-name: rotate-chain-mesh;
        animation-delay: 0.6s;
        animation-timing-function: linear;
        animation-duration: 140s;
        animation-iteration-count: infinite;
      }
    }
    &.countdown {
      opacity: 0;
    }
    &.vote-detail,
    &.extends-panel {
      top: 7.6vh;
      transform: scale(0.88);
      // opacity: 1;
    }
  }
  @keyframes rotate-chain-mesh {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #bg3 {
    position: fixed;
    width: 96vh;
    height: 96vh;
    left: calc(50vw - 48vh);
    top: -18vh;
    z-index: -2;
    transform: scale(0);
    opacity: 0.4;
    transition-duration: 0.5s;
    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-image: url("../assets/imgs/tab-vote/bg.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      animation-duration: 280s;
      animation-name: rotate-bg3;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      background-color: #fff;
    }
    &.vote-detail,
    &.extends-panel {
      transform: scale(1);
      opacity: 1;
    }
    @keyframes rotate-bg3 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
  .pages-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .bootstrap-page {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    // visibility: hidden;
    // display: none;
    display: flex;
    &.bootstrap {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
  }
  .countdown-page {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    transform: scale(3);
    // display: none;
    &.countdown {
      // display: block;
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
    effect-countdown {
      color: #fec64a;
      position: absolute;
      width: 100%;
      height: 22vw;
      left: 0;
      bottom: 50vh;
    }
    .countdown-tip {
      position: absolute;
      height: 10vh;
      width: 100%;
      left: -1rem;
      bottom: 38vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 20;
      > ali-icon {
        font-size: 1.7rem;
        margin: 0 0.3rem 0.3rem 0.3rem;
        > .ifmicon::before {
          -webkit-background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(
            to bottom,
            #fccf51 0%,
            #fbb460 100%
          );
        }
      }
      > span {
        color: #fcc54b;
      }
    }
  }
  .main-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    .auto-start-button-wrapper {
      position: relative;
      top: 26vh; /* width: 76vw; */
      width: 42.7286vh; /* height: 76vw; */
      height: 42.7286vh;
      border-radius: 50%;
      /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .auto-start-button {
        width: 100%;
        height: 100%;
        transform: scale(1.052625);
        border-radius: 50%;
        position: relative;
        &::before {
          content: " ";
          transition-duration: 0.25s;
          transition-timing-function: ease-in;
          position: absolute;
          background-image: url("../assets/imgs/tab-vote/start-button.png");
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 1;
          z-index: 1;
          pointer-events: none;
        }
        .press-down-layer,
        .press-down-layer::before,
        .press-down-layer::after {
          content: " ";
          transition-duration: 0.25s;
          transition-timing-function: ease-in;
          position: absolute;
          background-image: url("../assets/imgs/tab-vote/start-button-no-shadow.png");
          transform-origin: 49.8% 50%;
          /* background-size: 122%;
          background-position: 50% 44%; */
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 2;
          pointer-events: none;
        }
        &.opening {
          &::before {
            opacity: 0;
            transform: scale(0.96);
          }
          .press-down-layer,
          .press-down-layer::after,
          .press-down-layer::before {
            opacity: 1;
            transform: scale(0.96);
            animation-name: rotate-to-open;
            animation-timing-function: ease-in-out;
            animation-duration: 5s;
            animation-iteration-count: infinite;
          }
          .press-down-layer::before {
            z-index: 3;
            opacity: 0.5;
            animation-duration: 3s;
          }
          .press-down-layer::after {
            z-index: 4;
            opacity: 0.5;
            animation-duration: 7s;
          }
          @keyframes rotate-to-open {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg * 30);
            }
          }
        }
      }
    }
  }
  .assets-info {
    position: absolute;
    bottom: 4.812rem;
    left: 0;
    height: 28%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    .balance {
      height: 2.8rem;
      width: 100%;
      > svg {
        width: 100%;
        height: 100%;
        text {
          text-shadow: 0px 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
        }
      }
    }
    .history-logs {
      width: 100%;
      text-align: center;
      .linker {
        font-size: 1.6rem;
        color: #7a7a7a;
      }
    }
  }
  .start-tip {
    position: absolute;
    bottom: 4.812rem;
    left: 0;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 20;
    > ali-icon {
      font-size: 2.6rem;
      margin: 0 0.8rem 0.8rem 0.8rem;
      > .ifmicon::before {
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to bottom, #fccf51 0%, #fbb460 100%);
      }
    }
    > span {
      color: #fcc54b;
    }
  }
  .vote-detail-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    transform: scale(0);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    &.vote-detail,
    &.extends-panel {
      opacity: 1;
      transform: scale(1);
      > * {
        pointer-events: all;
      }
    }
    > .toolbar {
      position: absolute;
      top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > button {
        background: transparent;
        font-size: 2.6rem;
        color: #f9935f;
        padding: 0.5rem 1.2rem;
      }
    }
    .ani-wrapper {
      flex-shrink: 0;
      flex-grow: 0;
      position: absolute;
      left: calc(50vw - 100.6vw / 2);
      height: 100.6vw;
      width: 100.6vw;
      transform: scale(0.8) translateZ(0);
      // translateY(8.6363636363vh)
      transform-origin: top;
      will-change: opacity, transform;
      opacity: 1;
      &.show-big-fall-icon {
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
        opacity: 0;
        transform: scale(1.2) !important;
      }
      &::before {
        content: " ";
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -0%;
        top: -0%;
        background-image: url("../assets/imgs/tab-vote/bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        opacity: 0.5;
        pointer-events: none;
        transform: translateZ(0);
      }
      /* transform-origin: 50% 0%; */
      border-radius: 50%;
      .ani-progress {
        pointer-events: none;
        $out_r: 8;
        position: absolute;
        transform: translateZ(0);
        width: calc(100% + #{$out_r}rem);
        height: calc(100% + #{$out_r}rem);
        box-sizing: content-box;
        top: -#{$out_r/2}rem;
        left: -#{$out_r/2}rem;
        display: none;
        opacity: 0;
        transition-duration: 0.25s;
        &.show {
          display: block;
          opacity: 1;
        }
        // &.satellite-css{
        // background-image: url("../assets/imgs/tab-vote/轨道.png");
        // background-size: 88%;
        // background-position: center;
        // background-repeat: no-repeat;
        // &::after{
        // content:" ";
        // background-image: url("../assets/imgs/tab-vote/彗星☄.png");
        // }
        // }
      }
      .ani-glow {
        /* contain: strict; */
        position: absolute;
        transform: translateZ(0);
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        border-radius: 50%;
        &.show {
        }
        &::after {
          position: absolute;
          transform: translateZ(0);
          content: " ";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: url("../assets/imgs/tab-vote/glow.png");
          background-size: 100%;
          z-index: -1;
          /* opacity: 0.5; */
        }
        > canvas {
          opacity: 0.3;
        }
      }
      .ani-fall-coins {
        contain: strict;
        position: absolute;
        transform: translateZ(0);
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        border-radius: 50%;
        overflow: hidden;
        display: none;
        opacity: 0;
        transition-duration: 0.25s;
        &.show {
          display: block;
          opacity: 1;
        }
      }
      .ani-countdown {
        contain: strict;
        position: absolute;
        transform: translateZ(0);
        width: 94%;
        height: 24%;
        top: 15%;
        left: 3%;
        display: none;
        opacity: 0;
        transition-duration: 0.25s;
        color: rgba(#fec641, 0.25);
        /* 0.0882 */
        mix-blend-mode: multiply;
        &.show {
          display: block;
          opacity: 1;
        }
      }
      .ani-mining-person {
        contain: strict;
        position: absolute;
        transform: translateZ(0);
        pointer-events: none;
        width: 90%;
        height: 35%;
        bottom: 7%;
        left: 17.5%;
        z-index: 0;
        display: none;
        opacity: 0;
        transition-duration: 0.25s;
        &.show {
          display: block;
          opacity: 1;
        }
      }
      .wakuang-person {
        contain: strict;
        position: absolute;
        transform: translateZ(0);
        pointer-events: none;
        width: 94%;
        height: 94%;
        bottom: 3%;
        left: 3%;
        background-image: url("../assets/imgs/tab-vote/human-work3.gif");
        background-repeat: no-repeat;
        background-size: 74%;
        background-position: 60% 100%;
        z-index: 0;
        border-radius: 50%;
        overflow: hidden;
        &.extends-panel {
          /* 停止GIF */
          background-image: none !important;
        }
      }
      .ani-container {
        contain: strict;
        position: absolute;
        transform: translateZ(0);
        width: 94%;
        height: 94%;
        top: 3%;
        left: 3%;
        perspective: 800px;
        border-radius: 50%;
        overflow: hidden;
        background: radial-gradient(
          ellipse at center,
          rgba(#fff, 0) 0%,
          rgba(#fdd04e, 0) 60%,
          rgba(#fdd04e, 1) 70%
        );
        .ani {
          width: 100%;
          height: 100%;
        }
        .gold-pos-container {
          transition-property: transform;
          transition-timing-function: ease-in;
          position: absolute;
          left: 0;
          top: 0;
          .coin {
            transform: scale(0.8);
            transition-property: transform;
            transition-timing-function: ease-in;
          }
        }
      }
    }
  }
  .fall-icon-into-panel {
    flex-shrink: 0;
    flex-grow: 0;
    position: absolute;
    top: 9.8vh;
    left: 10vw;
    width: 80vw;
    height: 80vw;
    z-index: 10;
    z-index: 10;
    pointer-events: none;
    $ani-dur: 2s;
    div {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &.start-ani {
      .drilled-into-panel-ani {
        animation-delay: $ani-dur;
        animation-name: drilled-into-panel-ani;
        animation-fill-mode: forwards;
        animation-duration: $ani-dur/2;
        animation-iteration-count: infinite;
        transform-origin: 100% 100%;
        animation-timing-function: ease-out;
      }
      @keyframes drilled-into-panel-ani {
        0% {
          transform: translateY(0);
        }
        60% {
          transform: translateY(-0.5rem);
        }
        100% {
          transform: translateY(1rem);
        }
      }
      /* 金币掉落到面板的动画 */
      .icon-fall-down-ani {
        animation-name: icon-fall-down-ani;
        animation-fill-mode: forwards;
        animation-duration: $ani-dur;
        animation-timing-function: ease-out;
        /* animation-iteration-count: infinite; */
      }
      @keyframes icon-fall-down-ani {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(36vw, calc(40vw + 17vh));
        }
      }
      /* 金币缩放的动画 */
      .icon-scale-ani {
        animation-name: icon-scale-ani;
        animation-fill-mode: forwards;
        animation-duration: $ani-dur * 1.5;
        animation-timing-function: ease-out;
        /* animation-iteration-count: infinite; */
      }
      @keyframes icon-scale-ani {
        0% {
          transform: scale(1) rotate(0deg);
        }
        50% {
          transform: scale(0.18) rotate(#{360 * 1.25}deg);
          box-shadow: 0 0 0 #fff;
        }
        66.666% {
          transform: scale(0.18) rotate(#{360 * 1.25}deg);
          box-shadow: 0 0 2rem #fff;
        }
        100% {
          transform: scale(0) rotate(#{360 * 1.25}deg);
          box-shadow: 0 0 4rem #fff;
        }
      }
    }
    /* 金币翻转的动画 */
    .icon-flip-ani {
      background-image: url("../assets/img/gold-coin/s36.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      animation-name: icon-flip-ani;
      animation-timing-function: steps(36);
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
    }
    @keyframes icon-flip-ani {
      0% {
        background-position-y: 0px;
      }
      100% {
        /* background-position-y: 3456px; */
        background-position-y: 102.857142857%;
      }
    }
    opacity: 0;
    transform: scale(0.4);
    display: none;
    &.show-big-fall-icon {
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      opacity: 1;
      transform: scale(1);
      display: block;
      .icon-flip-ani {
        animation-duration: 0.3s;
      }
    }
  }
  .extends-panel-page {
    /* position: relative; */
    /* align-self: flex-start;
      justify-self: flex-end; */
    position: absolute;
    bottom: 4.812rem;
    margin-top: auto;
    padding: 1.5rem 0 0.6rem 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    transform: scale(0);
    &.vote-detail {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
    &.extends-panel {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      padding-bottom: 2rem;
      backdrop-filter: blur(2px);
      .panel-list {
        .panel-item {
          border-radius: 1.2rem;
        }
      }
    }
    .panel-list {
      .panel-item {
        background: #fff;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
        border-radius: 0.6rem;
        overflow: hidden;
        box-sizing: border-box;
        transform: scale(0.85);
        transform-origin: 50% 50%;
        transition-duration: 250ms;
        &.swiper-slide-prev {
          transform: scale(0.7);
          opacity: 0.8;
          transform-origin: 115% 50%;
          transition-duration: 0ms;
        }
        &.swiper-slide-next {
          transform: scale(0.7);
          opacity: 0.8;
          transform-origin: -15% 50%;
          transition-duration: 0ms;
        }
        > .slide-zoom {
          height: $panel-height;
          // min-height: $panel-min-height;
          max-height: $panel-max-height;
          > .panel-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &.extends-panel {
      .panel-list {
        .panel-item {
          box-shadow: 0rem 0.3rem 1.2rem rgba(0, 0, 0, 0.4);
          .slide-zoom {
            height: 100%;
            > .panel-content {
              max-height: unset;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .wave-container {
    position: absolute;
    top: 100vh;
    margin-top: auto;
    padding: 1.5rem 0 0.6rem 0;
    width: 100%;
    z-index: -1;
    // min-height: calc(#{$panel-min-height} + 5rem);
    max-height: calc(#{$panel-max-height} + 5rem);
    height: calc(#{$panel-height} + 4rem);
    /* transition-duration: 0.2s; */
    .wave {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      position: absolute;
      opacity: 1;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      z-index: -1;
      color: #fff;
      background-color: currentColor;
      .font-end {
        position: absolute;
        top: -11vw;
        left: 0;
        height: 11.1vw;
        width: 100vw;
        background-color: currentColor;
        mask-image: url("../assets/imgs/wave.png");
        mask-size: 100% 100%;
        mask-position: -50vw 0;
        mask-repeat: repeat-x;
        z-index: -1;
        /* filter: drop-shadow(0rem 0.1rem 0rem currentcolor); */
        /* transform-origin: 50% 0%; */
        /* transform: scaleY(0.7); */
        /* &::after {
          content: " ";
          height: 110%;
          width: 100%;
          position: absolute;
          bottom: -100%;
          left: 0;
          background-color: currentColor;
        } */
      }
    }
    .wave-1 {
      @extend .wave;
      /* transition-delay: 0.5s; */
      transition-duration: 0.5s;
      filter: drop-shadow(-0.1rem -0.1rem 0.6rem rgba(#000, 0.2));
      top: -4vh;
      z-index: 3;
      .font-end {
        mask-position: -46vw 0;
      }
    }
    .wave-2 {
      @extend .wave;
      color: rgb(253, 208, 68);
      opacity: 0.8; /* filter: sepia(100%) hue-rotate(559deg) saturate(1830%); */
      transition-delay: 0.3s;
      transition-duration: 1s;
      z-index: 1;
      top: -2vh;
      .font-end {
        mask-position: -8vw 0;
      }
    }
    .wave-3 {
      @extend .wave;
      transition-delay: 0.5s;
      transition-duration: 1.2s;
      color: rgb(250, 141, 68);
      opacity: 0.6;
      z-index: 2;
      top: -1.5vh;
      .font-end {
        mask-position: 10vw 0;
      }
    }
    &.bootstrap,
    &.countdown {
      /* transform: translateY(150%); */
      .wave-1 {
        transition-delay: 0s;
        transform: translateY(5vh) translateZ(0);
        opacity: 0;
      }
      .wave-2 {
        transition-delay: 0s;
        transform: translateY(5vh) translateZ(0);
        opacity: 0;
      }
      .wave-3 {
        transition-delay: 0s;
        transform: translateY(5vh) translateZ(0);
        opacity: 0;
      }
    }
    &.vote-detail,
    &.extends-panel {
      /* transform: translateY(0%); */
      .wave-1 {
        transform: translateY(-100%) translateZ(0);;
      }
      .wave-2 {
        transform: translateY(-100%) translateZ(0);;
      }
      .wave-3 {
        transform: translateY(-100%) translateZ(0);;
      }
    }
  }
}
