<ion-header>
  <ion-navbar color="transparent">
    <ion-title>{{'ASSETS-ISSUING-ASSETS'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <div id="new_assets_form" class="common-form  new-assets-form">
    <div class="logo-wrapper">
      <div class="assets-logo-shape-wrapper">
        <div class="assets-logo-shape logo-uploader"></div>
      </div>
      <div class="label">{{'UPLOAD_LOGO_IMAGE'|translate}}</div>
    </div>
    <div class="mat-container assetName">
      <mat-form-field>
        <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'PLEASE_INPUT_ASSETNAME'|translate" [(ngModel)]="formData.assetName" set-input-status="assetName">
      </mat-form-field>
    </div>
    <div class="mat-container abbreviation">
      <mat-form-field>
        <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'PLEASE_INPUT_ASSETS_ABBREVIATION'|translate" [(ngModel)]="formData.abbreviation" set-input-status="abbreviation">
      </mat-form-field>
    </div>
    <div class="mat-container summary">
      <mat-form-field>
        <textarea matInput [placeholder]="'PLEASE_BRIEFLY_DESCRIBE_YOUR_ASSETS'|translate" [(ngModel)]="formData.summary" set-input-status="summary" [maxlength]="summary_maxlength">
        </textarea>
        <mat-hint align="end">{{formData.summary?.length || 0}}/{{summary_maxlength}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="mat-container rate">
      <div class="left">
        1 IBT =
      </div>
      <div class="center">
      	{{(formData.originalIssuedAssets/formData.expectedRaisedIBTs)|number:1.0-4}} {{formData.assetName}}
      </div>
      <!-- <mat-form-field>
        <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'ASSETS_rate'|translate" [ngModel]="formData.rate|number:1.0-4" set-input-status="rate" disabled>
      </mat-form-field> -->
    </div>
    <div class="mat-container originalIssuedAssets">
      <mat-form-field>
        <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'ASSETS_originalIssuedAssets'|translate" type="number" [(ngModel)]="formData.originalIssuedAssets" set-input-status="originalIssuedAssets">
      </mat-form-field>
    </div>
    <div class="mat-container expectedRaisedIBTs">
      <mat-form-field>
        <input data-keyboard-view-position="height" data-keyboard-move-node="new_assets_form" matInput [placeholder]="'PLEASE_INPUT_RAISED_IBT'|translate" type="number" [(ngModel)]="formData.expectedRaisedIBTs" set-input-status="expectedRaisedIBTs">
      </mat-form-field>
    </div>
    <div class="mat-container expectedIssuedBlockHeight">
      <mat-form-field>
        <span matPrefix class="prefix-info">{{'ISSUED_BLOCK_HEIGHT'|translate}}</span>
        <input data-keyboard-view-position="top" data-keyboard-move-node="new_assets_form" matInput [(ngModel)]="formData.expectedIssuedBlockHeight" set-input-status="expectedIssuedBlockHeight" type="number" [matAutocomplete]="autoExpectedIssuedBlockHeight">
        <mat-autocomplete class="expectedIssuedBlockHeight-autocomplete" #autoExpectedIssuedBlockHeight="matAutocomplete">
          <mat-option *ngFor="let option of expectedIssuedBlockHeightOptions" [value]="option">
            <div class="left">
              <div class="label">{{'BLOCK_height'|translate}}</div>
              <div class="value">{{option}}</div>
            </div>
            <div class="right">
              <div class="label">{{'ESTIMATED_TIME'|translate}}</div>
              <div class="value">{{blockHeightTime(option)|amDateFormat:"YYYY.MM.DD"}}</div>
            </div>
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end" *ngIf="formData.expectedIssuedBlockHeight">{{'ESTIMATED_TIME'|translate}} : {{blockHeightTime()|amDateFormat:"YYYY-MM-DD HH:mm:ss"}}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="footer">
    <button class="submit-button">{{'ISSUED_IMMEDIATELY'|translate}}</button>
  </div>
</ion-content>
<ion-footer [keyboardAttach]="content"></ion-footer>
