page-subchain-gateway {
	@extend .header-no-border;
	> .header {
		width: 100vw;
		overflow: hidden;
	}
	> .content {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		.gateway-canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
		}
	}
}
