page-share-app-panel {
  background: transparent;
  > .content {
    background: transparent;
    > .scroll-content {
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      .panel {
        margin-top: -36vw;
        width: 87vw;
        min-height: 12rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: #fff;
      }
      .header {
        flex-grow: 0;
        flex-shrink: 0;
        background-color: #eeeeee;
        color: #7c7c7c;
        font-size: 1.7rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
      }
      .grid {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        padding-bottom: 3.5rem;
        padding-top: 1rem;
        .row {
          padding-top: 2.5rem;
          width: 92%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
          .mat-button-wrapper {
            font-weight: normal;
          }
          .item {
            padding: 0;
            flex: 1;
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: unset;
            &.disabled {
              filter: grayscale(1);
              opacity: 0.8;
            }
            .icon {
              width: 5.3rem;
              &.more {
                width: 5.3rem;
                height: 5.3rem;
                color: #7c7c7c;
                background-color: #eeeeee;
                border-radius: 50%;
                font-size: 2.2rem;
                line-height: 3.6rem;
                text-align: center;
              }
            }
            .label {
              color: #7a7a7a;
              padding-top: 1rem;
            }
          }
        }
      }
    }
  }
  .footer-buttons {
    pointer-events: all;
    position: fixed;
    width: 100%;
    bottom: 26%;
    left: 0;
    > button {
      margin: 0 auto;
      display: block;
      width: 12vw;
      height: 12vw;
      min-width: unset;
      min-height: unset;
      border-radius: 50%;
      overflow: hidden;
      background: none;
      text-align: center;
      padding: 0;
      // line-height: 12vw;
      &.close-button {
        animation-delay: 500ms;
        background-color: #bab8b9;
        color: #fff;
        font-size: 9vw;
      }
    }
  }
}
