<ion-header>
</ion-header>
<ion-content>
  <div class="panel">
    <div class="header">
      <div class="title">{{'SHARE_TO'|translate}}</div>
    </div>
    <div class="grid">
      <div class="row">
        <button mat-button class="item" *ngFor="let s of shareItems_line1" [class.disabled]="s.disabled" (click)="shareVia(s)">
          <div class="icon"><img [src]="'assets/imgs/share-app-panel/'+s.logo+'.png'" [alt]="s.title"></div>
            <div class="label">{{s.title|translate}}</div>
        </button>
      </div>
      <div class="row">
        <button mat-button class="item" *ngFor="let s of shareItems_line2" [class.disabled]="s.disabled" (click)="shareVia(s)">
          <div class="icon"><img [src]="'assets/imgs/share-app-panel/'+s.logo+'.png'" [alt]="s.title"></div>
            <div class="label">{{s.title|translate}}</div>
        </button>
      </div>
    </div>
  </div>
  <div class="footer-buttons">
    <button mat-button class="close-button animated bounceIn" (click)="closeModal()">
      <ali-icon name="ifm-guanbi"></ali-icon>
    </button>
  </div>
</ion-content>
