ali-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  // vertical-align: -0.15em;
  fill: currentColor;
  color: currentColor;
  /* overflow: hidden; */
  > .ifmicon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: inherit;
    &::before{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  > svg {
    width: 100%;
    height: 100%;
  }
  &.ani-rotate-45deg {
    animation-name: ani-rotate-circle;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
    &[name="ifm-loading"] {
      transform-origin: 51.4% 56.2%;
    }
  }
  &.ani-rotate-30deg {
    animation-name: ani-rotate-circle;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(12);
    &[name="ifm-loading-search"] {
      transform-origin: 50% 50%;
    }
  }
  @keyframes ani-rotate-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &[name="ifm-roll-out-logs"] {
    > .ifmicon {
      &::before {
        background-image: url("../assets/icon/ifm-roll-out-logs.svg");
        background-size: contain;
        width: 100%;
        height: 100%;
        color: transparent; /* 需要来占位不然heigth和width撑不起来 */
      }
    }
  }
  &[name="ifm-assets-market"] {
    > .ifmicon {
      &::before {
        content: " ";
        background-image: url("../assets/icon/assets-market.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        color: transparent; /* 需要来占位不然heigth和width撑不起来 */
      }
    }
  }
  &[name="ifm-pre-round-income-rate"] {
    > .ifmicon {
      position: relative;
      &::before {
        content: " ";
        background-image: url("../assets/icon/上轮回报率-icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        color: transparent; /* 需要来占位不然heigth和width撑不起来 */
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &[name="ifm-mac-address"] {
    > .ifmicon {
      position: relative;
      &::before {
        content: " ";
        background-image: url("../assets/icon/mac-address-icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        color: transparent; /* 需要来占位不然heigth和width撑不起来 */
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &[name="ifm-sync-progress"] {
    > .ifmicon {
      position: relative;
      &::before {
        content: " ";
        background-image: url("../assets/icon/LOADING.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        color: transparent; /* 需要来占位不然heigth和width撑不起来 */
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
