body {
  position: static !important;
  .app-root,
  ion-nav {
    position: static !important;
  }
}
// http://ionicframework.com/docs/v2/theming/
.testnet-flag {
  z-index: 1000;
  position: fixed;
  top: 2rem - 1.8rem;
  left: 2rem - 6rem;
  width: 12rem;
  height: 3.6rem;
  transform: rotate(-45deg) scale(0.65);
  text-align: center;
  /* background: linear-gradient(top, #c50000 0%, darkred 100%); */
  background: rgba(#ef635a, 0.8);
  color: #fff;
  line-height: 2rem;
  /* text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.3); */
  pointer-events: none;
  /* opacity: 0.6; */
  display: flex;
  align-items: center;
  justify-content: center;
  #testnetFlag {
    transition-duration: 250ms;
    display: inline-block;
  }
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-no-border {
  .toolbar-background {
    border: none !important;
  }
  > ion-content {
    > .scroll-content {
      top: -0.55px;
    }
  }
}
.clip-text {
  -webkit-background-clip: text !important;
  background-clip: text !important;
  // -webkit-text-fill-color: transparent;
  color: transparent !important;
  ali-icon {
    background-image: inherit;
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }
  // .ifmicon {
  //    // background-image: inherit;
  //  &::before {
  //    // background-image: inherit;
  //    -webkit-background-clip: text !important;
  //    background-clip: text !important;
  //    // -webkit-text-fill-color: transparent;
  //    color: transparent !important;
  //  }
  // }
}

// $toolbar-ios-height: 1.8rem;
$navbar-height: 60px;
ion-loading {
  &.can-goback {
  }
  &.can-tap {
    pointer-events: none;
    background-color: transparent;
    > .loading-wrapper {
      box-shadow: 0 0rem 0.2rem rgba(255, 255, 255, 0.3),
        0 0.2rem 2rem rgba(0, 0, 0, 0.2), 0 0 5rem rgba(0, 0, 0, 0.1);
    }
  }
}
// ion-navbar,
// ion-title {
//   padding-top: 18px !important;
// }
// @supports(padding: #{'max(0px)'}) {
//     ion-navbar,
//     ion-title {
//       padding-top: #{'max(18px, env(safe-area-inset-top)) !important'};
//       padding-bottom: 1rem;
//     }
// }
ion-navbar.toolbar-ios {
  // min-height: $navbar-height;
  // padding: 0 1.1rem;
  .back-button {
    width: 3rem;
    transform: translateX(1.6vw);
    .button-inner {
      .back-button-icon {
        display: flex;
        align-items: flex-end;
        &::before {
          font-family: "ifmicon" !important;
          content: "\e607";
          font-size: 1.6rem;
          color: #7b7b7b;
          transform: rotate(180deg);
          position: relative;
          top: -0.2rem;
          left: -0.8rem;
        }
      }
    }
  }
  .toolbar-title-ios {
    color: #7a7a7a;
  }
  .bar-buttons {
    button {
      background-color: transparent;
      border: none;
    }
    ali-icon {
      color: #7a7a7a;
      font-size: 1.95rem;
    }
  }
}
// @supports(padding: #{'max(0px)'}) {
//     ion-navbar.toolbar-ios{
//       min-height: $navbar-height + 10px;
//     }
// }

ion-content {
  > .scroll-content {
    ion-content {
      > .scroll-content {
        margin-bottom: 0 !important;
      }
    }
  }
}

@keyframes rotate-with-clock {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-unwith-clock {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@font-face {
  font-family: monospace;
  src: local("Menlo");
}

.follow-parent-ani {
  animation-duration: inherit;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
  animation-delay: inherit;
  animation-fill-mode: inherit;
  animation-play-state: inherit;
  animation-direction: inherit;
}

.common-gradient {
  > .button-inner {
    background: linear-gradient(bottom, #61ebde 0%, #44cfeb 100%) !important;
    @extend .clip-text;
  }
}

.disable-scroll .ion-page {
  pointer-events: all !important;
  -ms-touch-action: all !important;
  touch-action: all !important;
}
