.common-form {
  width: 100%;
  > .input-container {
    height: 4.6rem;
    padding: 0 1.4rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    font-size: 1.45rem;
    color: #707070;
    ali-icon[name="ifm-arrow-to-right"] {
      font-size: 1.4rem;
      color: #989898;
    }
    > .left {
      justify-self: flex-start;
    }
    > input {
      flex: 1;
      flex-grow: 1;
      color: #333;
      font-size: 1.5rem;
      border: none;
      background-color: transparent;
      padding: 0.3rem 0 0.2rem 0;
      &::-webkit-input-placeholder {
        color: #7b7b7b;
        font-size: 1.45rem;
      }
    }
    > .right {
      margin-left: auto;
      justify-self: flex-end;
      > button {
        background-color: transparent;
        padding: 0.5rem;
        border: none;
        &.reset {
          ali-icon {
            font-size: 2rem;
            color: #aaaaaa;
          }
        }
      }
    }
    &.disabled {
      color: #a7a7a7;
      > input {
        color: #999999;
        &::-webkit-input-placeholder {
          color: #aaaaaa;
        }
      }
    }
  }
}

.submit-button {
  margin-top: 1.8rem;
  width: 92%;
  font-size: 1.8rem;
  color: #fff;
  background: linear-gradient(to bottom, #ff5a5a 0%, #fd6e5f 50%, #ff9171 100%);
  height: 4rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
}
.platform-ios{
  .submit-button{
    display: -webkit-box;
  }
  .flex{
    display: -webkit-box!important;
  }
  .flex-center{
    display: -webkit-box!important;
    background-color: red!important;
    >*{
      margin: 0 auto;
    }
  }
}
