<ion-header no-shadow>
  <ion-navbar color="transparent">
    <ion-buttons start>
      <button class="lang-select-button" (click)="routeTo('settings-lang')">
        <img [src]="'./assets/imgs/settings-lang/'+lang_code+'.png'" [alt]="lang_code">{{('LANG_'+lang_code)|translate}}</button>
    </ion-buttons>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="white">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-slides pager="true" [dir]="dir" (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDrag)="onSlideDrag($event)" (click)="onSlideTap($event)">
    <ion-slide *ngFor="let slide of slides;index as i" [ngClass]="slide.class">
      <img [src]="slide.image" class="slide-image" />
      <img [src]="slide.image" class="slide-image effect e1" />
      <img [src]="slide.image" class="slide-image effect e2" />
      <img [src]="slide.image" class="slide-image effect e3" />
      <div class="text">
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p class="slide-description" [innerHTML]="slide.description"></p>
        <!-- <button *ngIf="i==slides.length-1" ion-button icon-end large clear (click)="startApp()">
          {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button> -->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
