page-tutorial {
  @extend .header-no-border;
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  > .content {
    > .scroll-content {
      margin-top: 0 !important;
    }
  }
  .lang-select-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    border: none;
    > img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .text {
    position: absolute;
    width: 100%;
    bottom: 12.5vh;
    left: 0;
    z-index: 2;
    text-align: center;
    > * {
      margin: 0;
    }
  }

  .slide-0 {
    .text {
      color: #59d8f4;
      .slide-title {
        font-size: 2rem;
        font-weight: lighter;
      }
      .slide-description {
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
    .effect{
      $duration: 3;
      mask-image: radial-gradient(circle ,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%);
      animation-name: zoom-in-slide-image;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      animation-duration: #{$duration}s;
      &.e1{
        animation-delay: 0s;
      }
      &.e2{
        animation-delay: #{$duration/2/3}s;
      }
      &.e3{
        animation-delay: #{$duration/2*2/3}s;
      }
    }
    @keyframes zoom-in-slide-image {
      0%{
        opacity: 0;
        transform: scale(0.4);
      }
      50%{
        opacity: 0.2;
        transform: scale(0.8);
      }
      100%{
        opacity: 0;
        transform: scale(1.2);
      }
    }
  }

  .slide-1,
  .slide-2 {
    .text {
      color: #ffffff;
      bottom: 28.5vh;
      .slide-title {
        font-size: 2rem;
        font-weight: normal;
      }
      .slide-description {
        font-size: 2rem;
        font-weight: normal;
      }
    }
  }
  .text {
    > button {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -5rem;
      left: 0;
      color: #fff;
    }
  }
}
