text-mg {
	> span {
		position: relative;
		display: block;
		> span {
			line-height: inherit!important;
			font-size: inherit!important;
			font-weight: inherit!important;
			font-family: inherit!important;
			padding: 0!important;
			margin: 0!important;
			border: 0!important;
			text-align: left!important;
			&:last-child{
				position: absolute!important;
				top: 0!important;
				left: 0!important;
				height: 100%!important;
				width: 100%!important;
			}
		}
	}
}
