vote-income-trend {
  min-height: 22vh;
  max-height: 20rem;
  padding: 1rem;
  background: linear-gradient(to right, #faaf52 0%, #fdd04e 100%);
  display: flex;
  flex-direction: column;
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    .title {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      /* margin: auto; */
      ali-icon {
        font-size: 1.9rem;
        font-size: 2.1rem;
        margin-right: 0.5rem;
      }
    }
    .my-income-assets {
      position: absolute;
      right: 1rem;
      font-size: 1.2rem;
      font-weight: lighter;
      /* margin: auto; */
      /* justify-self: flex-end;
                margin-left: auto; */
    }
  }
  .chart-wrapper {
    width: 100%;
    height: 6rem;
  }
}
