page-tab-pay {
  @extend .header-no-border;
  > .header {
    .toolbar-title {
      color: #fff;
    }
  }
  > .content {
    background: linear-gradient(to bottom, #3fcdeb 0%, #3edfca 100%);
    > .scroll-content {
      height: calc(100vh - 4.2rem);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      >.title{
        height: 4rem;
        height: calc(4rem + #{constant(safe-area-inset-top)});
        height: calc(4rem + #{env(safe-area-inset-top)});
        line-height: 4rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: #FFF;
      }
    }
  }
  .toolbar {
    height: 5rem;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 9%;
    .tool-item {
      width: 4.5rem;
      height: 4.5rem;
      flex-shrink: 0;
      flex-grow: 0;
      border-radius: 50%;
      background-color: rgba(#fff, 0.2);
      font-size: 0;
      color: #fff;
      transition-duration: 250ms;
      position: relative;
      &:nth-child(2) {
        /* line-height: 3.6rem; */
      }
      > ali-icon {
        position: absolute;
        top: 1.05rem;
        left: 0;
        width: 100%;
        margin: auto;
        font-size: 2.8rem;
        display: inline-block;
      }
      &.contact-book {
        font-size: 2.4rem;
      }

      &:active {
        transform: scale(1.1);
        background-color: rgba(#fff, 0.4);
      }
    }
  }
  .transfer {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .input-container {
      width: 92.6829%; // 76
      margin-top: 0.5rem;
      position: relative;
      display: flex;
      align-items: center;
      .left,
      .right {
        /* position: absolute; */
        font-size: 1.7rem;
        color: #fff;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .left {
        margin-left: 0.2rem;
        /* top: 1rem; */
      }
      .right {
        font-size: 1.9rem;
        margin-right: 0.2rem;
        /* top: 0.4rem; */
        background-color: transparent;
        padding: 0.5rem;
        border-radius: 50%;
        &button {
          &:active {
            background-color: rgba(#fff, 0.2);
          }
        }
        > .balance-info {
          font-size: 1.3rem;
        }
      }
      input {
        border: none;
        width: 100%;
        font-size: 1.4rem;
        background-color: transparent;
        color: #fff;
        padding: 1rem 0.5rem 0.8rem 1rem;
        /* text-indent: 1.8rem; */

        border-bottom: 0.55px solid rgba(#fff, 0.2);
        &::-webkit-input-placeholder {
          color: rgba(#fff, 0.6);
        }
      }
    }
    > .fee {
      width: 92.6829%; // 76
      padding: 0.8rem 0.6rem;
      color: #f6db66;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      ali-icon {
        font-size: 1.3rem;
        margin-right: 0.4rem;
      }
      > .balance-info {
        margin-left: auto;
        align-self: flex-end;
        padding: 0.8rem 0.6rem;
        color: #fff;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }
    }
    > .submit-button {
      width: 100%;
      background: #fff;
      border-radius: 0.8rem;
      color: #35daeb;
      font-size: 1.8rem;
      box-shadow: 0 0.8rem 3rem rgba(99, 99, 99, 0.2);
    }
  }
  .roll-out-logs {
    flex-grow: 1;
    width: 83%;
    display: flex;
    flex-direction: column;
    background-color: rgba(#fff, 0.2);
    border-radius: 0.8rem 0.8rem 0 0;
    margin-top: 1.4rem;
    > .title {
      flex-grow: 0;
      flex-shrink: 0;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      padding: 0 1.2rem;
      font-size: 1.3rem;
      .left {
        font-size: 2.1rem;
      }
      .right {
        font-size: 1.6rem;
        margin-left: auto;
        justify-self: flex-end;
        transform: rotate(-90deg);
      }
    }
    > .content {
      border: none;
      margin: 0;
      padding: 0;
      max-height: 80vh;
      flex-grow: 1;
      background: none;
      > .scroll-content {
        border: none;
        margin: 0 !important;
        padding: 0;
        background: none;
        .log-item {
          height: 3rem;
          color: #fff;
          display: flex;
          box-sizing: border-box;
          padding: 0 1.6rem;
          font-size: 1.2rem;
          font-weight: lighter;
          align-items: center;
          position: relative;
          &::after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: radial-gradient(
              ellipse at center,
              #fff 0%,
              #fff 18%,
              #fff 18%,
              transparent 18%,
              transparent 18%
            );
            background-repeat: repeat-y;
            background-size: 0.5rem 0.5rem;
            background-position: 1.64rem 0.25rem;
          }
          &:first-child {
            margin-top: -0.6rem;
            &::after {
              height: 50%;
              top: unset;
              bottom: 0;
            }
          }
          &:last-child {
            &::after {
              height: 50%;
            }
          }
          > .create-time {
            flex: 1.1;
            display: flex;
            align-items: center;
            &::before {
              content: " ";
              font-size: 0;
              height: 0.7rem;
              width: 0.7rem;
              background-color: #fff;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
          }
          > .address {
            flex: 1;
            font-size: 1.3rem;
          }
          > .amount {
            flex: 1;
            font-size: 1.3rem;
            text-align: right;
          }
        }
        .empty {
          height: 3rem;
          color: #fff;
          display: flex;
          font-size: 1.3rem;
          justify-content: center;
          align-items: center;
          padding: 1rem 0;
        }
      }
      ion-refresher {
        .refresher-pulling-icon,
        .refresher-refreshing-icon {
          font-size: 2rem;
          color: #fff;
          .spinner-ios line {
            stroke: #fff !important;
          }
        }
        .refresher-pulling-text,
        .refresher-refreshing-text {
          font-size: 1.2rem;
          color: #fff;
        }
      }
      ion-infinite-scroll {
        .infinite-loading-spinner {
          font-size: 2rem;
          .spinner-ios line {
            stroke: #fff !important;
          }
        }
        .infinite-loading-text {
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }
  }
  .button-bg {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background: linear-gradient(to bottom, rgba(#3cdfdc, 0) 0%, #fcdd64 100%);
    z-index: -1;
    chain-mesh {
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0.4;
      canvas {
        width: 160vw !important;
        height: 160vw !important;
      }
    }
  }
}
