common-wave-bg {
  .wave-container {
    position: relative;
    bottom: 0;
    margin-top: auto;
    padding: 1.5rem 0 0.6rem 0;
    width: 100vw;
    height: 16.119rem;
    .wave {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      position: absolute;
      opacity: 1;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      z-index: -1;
      color: #fff;
      background-color: currentColor;
      .font-end {
        position: absolute;
        top: -11vw;
        left: 0;
        height: 11.1vw;
        width: 100vw;
        background-color: currentColor;
        mask-image: url("../assets/imgs/wave.png");
        mask-size: 100% 100%;
        mask-position: -50vw 0;
        mask-repeat: repeat-x;
        z-index: -1;
        /* filter: drop-shadow(0rem 0.1rem 0rem currentcolor); */

        /* transform-origin: 50% 0%; */
        /* transform: scaleY(0.7); */

        /*      &::after {
          content: " ";
          height: 110%;
          width: 100%;
          position: absolute;
          bottom: -100%;
          left: 0;
          background-color: currentColor;
        } */
      }
    }
    .wave-1 {
      @extend .wave;
      /* transition-delay: 0.5s; */
      transition-duration: 0.5s;
      filter: drop-shadow(-0.1rem -0.1rem 0.6rem rgba(#000, 0.2));
      z-index: 3;
      top: -4vh;
      .font-end {
        mask-position: -46vw 0;
      }
    }
    .wave-2 {
      @extend .wave;
      color: rgb(253, 208, 68);
      opacity: 0.8;
      /* filter: sepia(100%) hue-rotate(559deg) saturate(1830%); */
      transition-delay: 0.3s;
      transition-duration: 1s;
      z-index: 1;
      top: -2vh;
      .font-end {
        mask-position: -8vw 0;
      }
    }

    .wave-3 {
      @extend .wave;

      transition-delay: 0.5s;
      transition-duration: 1.2s;
      color: rgb(250, 141, 68);
      opacity: 0.6;
      z-index: 2;
      top: -1.5vh;
      .font-end {
        mask-position: 10vw 0;
      }
    }
    &.hide {
      /* transform: translateY(150%); */
      .wave-1 {
        transition-delay: 0s;
        transform: translateY(150%);
      }
      .wave-2 {
        transition-delay: 0s;
        transform: translateY(150%);
      }
      .wave-3 {
        transition-delay: 0s;
        transform: translateY(150%);
      }
    }
    &.show {
      /* transform: translateY(0%); */
      .wave-1 {
        transform: translateY(0%);
      }
      .wave-2 {
        transform: translateY(0%);
      }
      .wave-3 {
        transform: translateY(0%);
      }
    }
  }
}
