page-account-settings {
  @extend .header-no-border;
  > .content {
    background-color: #eeeeee;
  }
  .settings-list {
    > .divider {
      height: 1.1rem;
    }
    > .item {
      height: 5.62rem;
      padding: 0.6rem 2rem;
      margin-bottom: 1px;
      background-color: #fff;
    }
    .item,
    .mat-button-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 1.55rem;
      color: #707070;
      font-weight: normal;
      ali-icon[name="ifm-arrow-to-right"] {
        font-size: 1.5rem;
        color: #989898;
      }
      > .left {
        margin-left: auto;
        justify-self: flex-end;
      }
      &.disabled {
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }
  .quit-app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    color: #7a7a7a;
    height: 5.8rem;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
}
