page-vote-income-logs {
  @extend .header-no-border;
  > .content {
    > .scroll-content {
      background-color: #eeeeee;
    }
  }
  .common-list {
    margin-top: 1rem;
    > .common-item {
      > .left {
        align-items: flex-start;
      }
      > .right {
        > .title {
          color: #4f4f4f;
        }
      }
    }
  }
}
