<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'CHAIN-BLOCK-DETAIL'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #parentContent>
  <!-- <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/IFMCHAIN%E9%92%B1%E5%8C%85app-%E5%8C%BA%E5%9D%97%E8%AF%A6%E6%83%85%E7%95%8C%E9%9D%A2.jpg" alt=""> -->
  <div class="block-base-info">
    <div class="header" (click)="routeTo('vote-delegate-detail',{delegate_info:delegate_info})">
       <!-- [click-to-copy]="block_info?.generatorId" [copy-success-toast]="'#INFO#_COPY_SUCCESS'|translate:{info:('BLOCK_generatorId'|translate)}" -->
      <div class="line">
        <div class="left">
          <div class="title">
            <ali-icon name="ifm-feiji"></ali-icon>
            {{'BLOCK_generatorId'|translate}}
          </div>
          <div class="create-time">
            <ng-container *ngIf="isShowFullDate(block_info?.timestamp);else showTimeAgo">
              {{block_info?.timestamp|timestamp|amDateFormat:"YYYY.MM.DD hh:mm"}}
            </ng-container>
            <ng-template #showTimeAgo>
              {{block_info?.timestamp|timestamp|amLocale:localName|amTimeAgo}}
            </ng-template>
          </div>
        </div>
      </div>
      <div class="line address">
        {{block_info?.generatorId}}
      </div>
    </div>
    <div class="content">
      <div class="line">
        <div class="left reward">
          <div class="value">{{block_info?.reward|amountEuler|number:"1.0-0"}}</div>
          <div class="title">
            <ali-icon name="ifm-reward"></ali-icon>{{'BLOCK_reward'|translate}}
          </div>
        </div>
        <div class="right trans_num">
          <div class="value">{{block_info?.numberOfTransactions}}</div>
          <div class="title">
            <ali-icon name="ifm-tran"></ali-icon>{{'BLOCK_numberOfTransactions'|translate}}</div>
        </div>
      </div>
      <div class="line height">
        <div class="left">
          <ali-icon name="ifm-resize-height"></ali-icon>
          {{'BLOCK_height'|translate}}
        </div>
        <div class="right">
          {{block_info?.height}}
        </div>
      </div>
      <div class="line height">
        <div class="left">
          <ali-icon name="ifm-resize-height"></ali-icon>
          {{'BLOCK_blockSize'|translate}}
        </div>
        <div class="right">
          {{block_info?.payloadLength+block_info?.blockSize|bytes}}
        </div>
      </div>
      <div class="line confirm-num">
        <div class="left">
          <ali-icon name="ifm-querendingdan"></ali-icon>
          {{'BLOCK_confirmations'|translate}}
        </div>
        <div class="right">
          {{block_confirmations}}{{'BLOCK_confirmations_UNIT'|translate}}
        </div>
      </div>
      <div class="line fee">
        <div class="left">
          <ali-icon name="ifm-wallet"></ali-icon>
          {{'BLOCK_totalFee'|translate}}
        </div>
        <div class="right">
          {{block_info?.totalFee|amountEuler|number:"1.8-8"}}
        </div>
      </div>
      <div class="line block-id">
        <div class="left">
          <ali-icon name="ifm-id"></ali-icon>
          {{'BLOCK_id'|translate}}
        </div>
        <div class="right" [click-to-copy]="block_info?.id" [copy-success-toast]="'#INFO#_COPY_SUCCESS'|translate:{info:('BLOCK_id'|translate)}">
          {{block_info?.id}}
        </div>
      </div>
      <div class="line block-id">
        <div class="left">
          <ali-icon name="ifm-id"></ali-icon>
          {{'BLOCK_pre_block_id'|translate}}
        </div>
        <div class="right" (click)="toPerBlock()">
          {{block_info?.previousBlock}}
        </div>
      </div>
      <div class="line extend-data" *ngIf="block_info?.remark" [class.show-all]="show_all_remark" (click)="toggleShowAllRemark()">
        <div class="label">
          <div class="left">
            <ali-icon name="ifm-fill-form"></ali-icon>
            {{'BLOCK_remark'|translate}}
          </div>
          <div class="center">
            {{block_info?.remark}}
          </div>
          <div class="right"><ali-icon name="ifm-arrow-to-right"></ali-icon></div>
        </div>
        <div class="remark-content">
          {{block_info?.remark}}
        </div>
      </div>
    </div>
  </div>
  <div class="trans-logs">
    <div class="header">
      <ali-icon name="ifm-tran-history"></ali-icon>
      {{'BLOCK_transactions'|translate}}
    </div>
    <!-- TODO: 对于自己的交易，优化显示效果 -->
    <div class="list">
      <div class="item" *ngFor="let tran of tran_list" (click)="routeTo('chain-transaction-detail', {transaction:tran})">
        <div class="left">
          <div class="tran-type">
            {{('TRAN_TYPE_NAME_'+tran.type) | translate}}
          </div>
          <div class="create-time">
            {{(tran.timestamp+timeago_clock)|timestamp|amLocale:localName|amTimeAgo}}
          </div>
        </div>
        <div class="right">
          <div class="from-to">
            <div class="sender" [innerHTML]="tran.senderUsername?tran.senderUsername:(tran.senderId|mask:'@address')"></div>
            <ng-container *ngIf="TransactionTypes.SEND == tran.type">
              <ali-icon name="ifm-chain-right-arrow"></ali-icon>
              <div class="recipient" [innerHTML]="tran.recipientUsername?tran.recipientUsername:(tran.recipientId|mask:'@address')"></div>
            </ng-container>
          </div>
          <div class="amount" *ngIf="TransactionTypes.SEND == tran.type">
            {{tran.senderId==userInfo.address?'-':'+'}} {{tran?.amount|amountEuler|number:"1.8-8"}}
          </div>
          <div class="amount" *ngIf="TransactionTypes.SEND != tran.type">
            - {{tran?.fee|amountEuler|number:"1.8-8"}}
          </div>
        </div>
      </div>
      <div class="empty-list" *ngIf="tran_list.length==0&&tran_list_config.loading==false">
        <img src="assets/imgs/empty-list.png" [alt]="'EMPTY_LIST'|translate" />
        <div class="message">{{'BLOCK_TRANSACTION_LIST_IS_EMPTY'|translate}}</div>
      </div>
      <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMoreTranLogs())" [enabled]="tran_list_config.has_more">
        <ion-infinite-scroll-content [loadingText]="'LOADING_MORE_TRANSACTION_LIST'|translate"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
