page-chain-block-detail {
  @extend .header-no-border;
  > .content {
    > .scroll-content {
      max-height: 100%; // display: flex;
      flex-direction: column;
      /* overflow: hidden; */
      background-color: #eeeeee;
    }
  }
  .block-base-info {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    > .header {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    > .header,
    > .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .create-time {
        padding-left: 0.5rem;
      }
      > .line {
        width: 100%;
        display: flex;
        align-items: center;
        > .left,
        > .right {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        > .left {
        }
        > .right {
          margin-left: auto;
          justify-self: flex-end;
        }
        &.extend-data {
          color: #7c7c7c;
          height: auto;
          min-height: 4.92rem;
          padding-top: 1.765vw;
          display: flex;
          align-items: flex-start;
          &.show-all {
            display: block;
            .right {
              ali-icon {
                transform: rotate(90deg);
              }
            }
            > .label {
              > .center {
                display: none;
              }
            }
            > .remark-content {
              display: block;
              height: auto;
              mask-image: none;
            }
          }
          > .label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 8.69vw;
            font-size: 1.45rem;
            > .left {
              display: flex;
              align-items: center;
              ali-icon {
                margin-right: 0.6rem;
                font-size: 1.4rem;
              }
            }
            > .center {
              flex: 1;
              font-size: 1.3rem;
              // padding: 0 0.5rem;
              padding-left: 3rem;
              padding-right: 1rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .right {
            ali-icon {
              font-size: 1.3rem;
              transform: rotate(0deg);
              transition: transform 0.2s;
            }
          }
          > .remark-content {
            display: none;
            font-size: 1.3rem;
            height: 3rem;
            padding-bottom: 1rem;
            overflow: hidden;
            mask-image: linear-gradient(
              to bottom,
              rgba(#000, 1) 0%,
              rgba(#000, 0) 100%
            );
          }
        }
      }
    }
    > .header {
      padding: 0 1.2rem 0 2rem;
      height: 4.92rem;
      color: #fff;
      background: linear-gradient(to bottom, #9af5fc 0%, #9adef0 100%);
      font-weight: lighter;
      ali-icon {
        margin-right: 1rem;
        font-size: 1.5rem;
      }
      > .line {
        .left {
          align-items: flex-start;
          flex-direction: column;
          ali-icon {
            margin-right: 0.5rem;
          }
          > .label {
            display: flex;
            align-items: center;
          }
          > .address {
            padding-top: 0.2rem;
          }
        }
      }
      > .address {
        padding-top: 0.2rem;
      }
    }
    > .content {
      > .line {
        background-color: #fff;
        padding: 0 2rem;
      }
      .reward,
      .trans_num {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        // height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        > .value {
          font-size: 2rem;
          font-weight: 600;
          color: #7b7b7b;
          font-weight: 500;
        }
        > .title {
          background: linear-gradient(to bottom, #63d8f8 0%, #69efe6 100%);
          font-weight: bolder;
          font-size: 1.6rem;
          @extend .clip-text;
          ali-icon {
            font-size: 2rem;
            margin-right: 0.3rem;
            > .ifmicon::before {
              background: linear-gradient(to bottom, #63d8f8 0%, #69efe6 100%);
              @extend .clip-text;
            }
          }
        }
      }
      > .block-id {
        > .left {
          flex-shrink: 0;
          flex-grow: 0;
          width: 8.5rem;
          justify-content: flex-start;
        }
        > .right {
          // width: 70%;
          flex-shrink: 1;
          flex-grow: 1;
          word-break: break-all;
          text-align: right;
          font-size: 1.4rem;
        }
      }

      > .height,
      > .confirm-num,
      > .fee,
      > .block-id {
        min-height: 12.22vw;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-bottom: 1px;
        color: #7c7c7c;
        font-size: 1.5rem;
        ali-icon {
          /* font-weight: ; */
          font-size: 1.6rem;
          margin-right: 0.7rem;
        }
      }
    }
  }

  .trans-logs {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    min-height: 50vh;
    > .header {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      background: linear-gradient(to bottom, #9af5fc 0%, #9adef0 100%);
      height: 4.92rem * 0.8;
      color: #fff;
      padding: 0 2rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
      ali-icon {
        font-size: 2rem;
        margin-right: 0.5rem;
      }
    }
    > .list {
      background-color: #fff;
      width: 100%;
      flex-grow: 1;

      &::after {
        content: " ";
        position: fixed;
        width: 100vw;
        height: 100vw;
        top: 50vh;
        left: 0;
        background-image: url("../assets/imgs/tab-chain/block-bg.png");
        background-repeat: no-repeat;
        background-position: 50% -90%;
        background-size: 150%;
        opacity: 0.4;
        z-index: -1;
        pointer-events: none;
      }

      > .item {
        width: 100%;
        min-height: 4.92rem;
        border-bottom: 0.55px solid #e5e5e5;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 0.6rem 2rem;
        display: flex;
        align-items: center;
        font-size: 1.35rem;
        > .left {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        > .right {
          height: 100%;
          margin-left: auto;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
        }
        .from-to {
          color: #787878;
          display: flex;
          align-items: center;
          ali-icon {
            font-size: 3rem;
            margin: 0 0.2rem;
          }
        }
        .create-time {
          color: #b5b5b5;
          font-size: 1.2rem;
        }
        .tran-type {
          color: #505050;
        }
        .amount {
          color: #505050;
          font-weight: 500;
          .unit {
            font-size: 1.1rem;
            padding-left: 0.5rem;
            font-weight: lighter;
          }
        }
      }
      > .empty-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
          margin-top: 2rem;
          margin-bottom: 2rem;
          opacity: 0.6;
          height: 20vh;
          width: 20vh;
        }
        > .message {
          font-size: 1.4rem;
          color: #787878;
        }
        /* background-image: url("../assets/imgs/empty-list.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.6; */
      }
    }
  }
}
