<ion-header>
  <ion-navbar color="white">
    <ion-title>区块信息</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/IFMCHAIN%E9%92%B1%E5%8C%85app-%E5%8C%BA%E5%9D%97%E8%AF%A6%E6%83%85%E7%95%8C%E9%9D%A2.jpg" alt=""> -->
  <div class="block-base-info">
    <div class="header">
      <div class="line">
        <div class="left">
          <ali-icon name="ifm-feiji"></ali-icon>
          锻造者
        </div>
        <div class="right">
          <ali-icon name="ifm-clock"></ali-icon>{{block_info?.timestamp|timestamp|amDateFormat:"YYYY.MM.DD hh:mm"}}
        </div>
      </div>
      <div class="line address">
        {{block_info?.address}}
      </div>
    </div>
    <div class="content">
      <div class="line">
        <div class="left reward">
          <div class="value">{{block_info?.reward|amountEuler|number:"1.0-0"}}</div>
          <div class="title">
            <ali-icon name="ifm-reward"></ali-icon>区块奖励
          </div>
        </div>
        <div class="right trans_num">
          <div class="value">{{block_info?.numberOfTransactions}}</div>
          <div class="title">
            <ali-icon name="ifm-tran"></ali-icon>交易量</div>
        </div>
      </div>
      <div class="line height">
        <div class="left">
          <ali-icon name="ifm-resize-height"></ali-icon>
          高度
        </div>
        <div class="right">
          {{block_info?.height}}
        </div>
      </div>
      <div class="line confirm-num">
        <div class="left">
          <ali-icon name="ifm-querendingdan"></ali-icon>
          确认数
        </div>
        <div class="right">
          {{block_info?.confirmations}}个
        </div>
      </div>
      <div class="line fee">
        <div class="left">
          <ali-icon name="ifm-wallet"></ali-icon>
          手续费
        </div>
        <div class="right">
          {{block_info?.totalFee|amountEuler|number:"1.8-8"}}
        </div>
      </div>
    </div>
  </div>
  <div class="trans-logs">
    <!-- TODO: 对于自己的交易，优化显示效果 -->
    <div class="header">
      <ali-icon name="ifm-tran-history"></ali-icon>
      交易记录
    </div>
    <ion-content #listContent class="list" [ion-content-scroll-shadow]="listContent">
      <div class="item" *ngFor="let tran of tran_list" (click)="routeTo('chain-transaction-detail',{transaction:tran})">
        <div class="left">
          <div class="tran-type">
            {{('TRAN_TYPE_NAME_'+tran.type) | translate}} 
            <span class="sender" *ngIf="tran.senderUsername">(tran.senderUsername)</span>
            <span class="sender" *ngIf="!tran.senderUsername&&tran.senderId" [innerHTML]="'('+(tran.senderId|mask:'@address')+')'"></span>
             
          </div>
          <div class="create-time">
            {{tran?.timestamp|timestamp|amDateFormat:"MM-DD hh:mm"}}
          </div>
        </div>
        <div class="right">
            <div class="extend-info" *ngIf="tran.recipientUsername">tran.recipientUsername</div>
            <div class="extend-info" *ngIf="!tran.recipientUsername&&tran.recipientId" [innerHTML]="tran.recipientId|mask:'@address'"></div>
          <div class="amount">{{tran?.amount|amountEuler|number:"1.8-8"}}</div>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMoreTranLogs())" [enabled]="tran_list_config.has_more">
        <ion-infinite-scroll-content loadingText="加载更多区块交易记录中……"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </div>
</ion-content>
