<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'CHAIN-TRANSACTION-DETAIL'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/IFMCHAIN%E9%92%B1%E5%8C%85app-%E4%BA%A4%E6%98%93%E6%98%8E%E7%BB%86%E7%95%8C%E9%9D%A2.jpg" alt=""> -->
  <div class="common-list base-info">
    <div class="common-item transfer-id" [click-to-copy]="transaction?.id" [copy-success-toast]="'#INFO#_COPY_SUCCESS'|translate:{info:('TRANSACTION_id'|translate)}">
      <div class="left">
        {{'TRANSACTION_id'|translate}}
      </div>
      <div class="right">
        {{transaction?.id}}
      </div>
    </div>
    <div class="common-item transfer-id">
      <div class="left">
        {{'TRANSACTION_type'|translate}}
      </div>
      <div class="right">
        {{('TRAN_TYPE_NAME_'+transaction?.type) | translate}}
      </div>
    </div>
    <div class="common-item block-id" *ngIf="transaction?.blockId" (click)="smartRouteTo('chain-block-detail',{height:transaction?.height})">
       <!-- [click-to-copy]="transaction?.blockId" [copy-success-toast]="'#INFO#_COPY_SUCCESS'|translate:{info:('TRANSACTION_blockId'|translate)}" -->
      <div class="left">
        {{'TRANSACTION_blockId'|translate}}
      </div>
      <div class="right">
        {{transaction?.blockId}}
      </div>
    </div>
    <div class="common-item amount" *ngIf="transaction?.amount!='0'">
      <div class="left">
        {{'TRANSACTION_amount'|translate}}
      </div>
      <div class="right">
        {{transaction?.amount|amountEuler|number:'1.8-8'}}
        <div class="unit">{{transaction?.assetType||'IBT'}}</div>
      </div>
    </div>
    <div class="common-item fee" *ngIf="transaction?.fee!='0'">
      <div class="left">
        {{'TRANSACTION_fee'|translate}}
      </div>
      <div class="right">
        {{transaction?.fee|amountEuler|number:'1.8-8'}}
        <span class="unit">IBT</span>
      </div>
    </div>
    <div class="common-item transfer-time">
      <div class="left">
        {{'TRANSACTION_timestamp'|translate}}
      </div>
      <div class="right">
        {{transaction?.timestamp|timestamp|amDateFormat:"YYYY.MM.DD HH:mm:ss"}}
      </div>
    </div>
    <div class="common-item transfer-time" *ngIf="transaction?.dealDateTime">
      <div class="left">
        {{'TRANSACTION_dealDateTime'|translate}}
      </div>
      <div class="right">
        {{toDateMS(transaction.dealDateTime)|amDateFormat:"YYYY.MM.DD HH:mm:ss"}}
      </div>
    </div>
    <div class="common-item dapp" *ngIf="transaction?.dapp">
      <div class="left">
        {{'TRANSACTION_dapp'|translate}}
      </div>
      <div class="right">
        <div class="dapp-name">
          {{transaction?.dapp}}
          <img src="" alt="" class="app-icon">
        </div>
        <ali-icon name="ifm-arrow-to-right"></ali-icon>
      </div>
    </div>
    <div class="common-item sourceIP" *ngIf="transaction?.sourceIP">
      <div class="left">
        {{'TRANSACTION_sourceIP'|translate}}
      </div>
      <div class="right">
        <div class="ip-address">
          {{transaction?.sourceIP}}
        </div>
        <div class="city">
          {{transaction_ip_country}}
        </div>
      </div>
    </div>
    <div class="common-item extend-data" *ngIf="transaction?.mark">
      <details>
        <summary>{{'TRANSACTION_mark'|translate}}</summary>
        <content>{{transaction?.mark}}</content>
      </details>
    </div>
  </div>
  <div class="common-list detail-info">
    <button mat-button class="common-item sender" (click)="routeToDetail(transaction?.senderId)">
      <div class="line-left">
        <div class="title">{{'TRANSCATION_SENDER'|translate}}</div>
        <div class="content" [innerHTML]="sender_contact?.nickname||(transaction?.senderId|mask:'@fulladdress')"></div>
      </div>
    </button>
    <button mat-button class="common-item receiver" *ngIf="transaction?.recipientId" (click)="routeToDetail(transaction?.recipientId)">
      <div class="line-left">
        <div class="title">{{'TRANSCATION_RECIPIENT'|translate}}</div>
        <div class="content" [innerHTML]="recipient_contact?.nickname||(transaction?.recipientId|mask:'@fulladdress')"></div>
      </div>
    </button>
  </div>
</ion-content>
