<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'ASSETS-MY-ASSETS-LIST'|translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="routeTo('assets-issuing-assets',{auto_return:true})">
        <ali-icon name="ifm-zichanjianshe1"></ali-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="common-list my-assets-list">
    <div class="common-item" [class.destorying]="assets._destorying" *ngFor="let assets of my_assets_list" (click)="routeToAssetsTraList(assets)">
      <div class="left">
        <div class="assets-logo-shape-wrapper">
          <div class="assets-logo-shape">
            <img [src]="assets.logo_safe_url" alt="LOGO"/>
          </div>
        </div>
      </div>
      <div class="center">
        {{assets.abbreviation}}
      </div>
      <div class="right">
        <!-- <div class="issued-assets">{{assets.hodingAsset|number:'1.0-0'}}</div> -->
        <div class="balance">
          {{assets.hodingAssets|amountEuler|number:'1.8-8'}}
          <span class="unit">{{assets.abbreviation}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-list" *ngIf="my_assets_list.length==0&&page_info.loading==false">
    <img src="assets/imgs/empty-list.png" alt="空列表">
    <div class="message">{{'MY_ASSETS_LIST_IS_EMPTY'|translate}}</div>
  </div>
  <div class="pink-bg"></div>
</ion-content>
