page-assets-my-assets-list {
  @extend .header-no-border;
  .content {
    > .scroll-content {
      /* overflow: hidden; */
      /*       display: flex;
      flex-direction: column; */
      > .pink-bg {
        /* content: " "; */
        position: fixed;
        width: 100vw;
        height: 60vw;
        bottom: 0;
        z-index: 0;
        pointer-events: none;
        background-size: 200vw 200vw;
        background-position: center top;
        background-image: url("../assets/imgs/net-circle-mask.jpg"),
          linear-gradient(#ff3c00, #ff3c00);
        background-blend-mode: lighten;
        opacity: 0.1;
      }
    }
  }
  .my-assets-list {
    width: 100%;
    margin-top: 0.2rem;
    .common-item {
      height: 8.4rem;
      border-top: 0.55px solid #eeeeee;
      .assets-logo-shape-wrapper {
        width: 6rem;
        height: 6rem;
        filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.2));
      }
      .center {
        padding-left: 1.2rem;
        color: #333;
        font-weight: 500;
        font-size: 1.7rem;
      }
      .right {
        .issued-assets {
          font-size: 2rem;
          color: #333;
          font-weight: 500;
        }
      }
    }
  }
}
