page-tab-chain {
  @extend .header-no-border;
  $block-distance: 1.6;
  transform: translateZ(0);
  > .content {
    height: 100vh;
    > .scroll-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-top: 0 !important;

      > .fixed-header {
        position: fixed;
        z-index: 10;
        top: 0;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 10rem;
        box-sizing: content-box;
        transform: translateZ(0);
        padding-top: 20.012px;
        padding-top: #{constant(safe-area-inset-top)};
        padding-top: #{env(safe-area-inset-top)};
        > .title {
          height: 4rem;
          line-height: 4rem;
          font-size: 1.8rem;
          font-weight: bold;
          color: #7a7a7a;
          display: flex;
          justify-content: space-between;
          > .left {
            flex: 1;
          }
          > .center {
            flex: 1;
            text-align: center;
          }
          > .right {
            flex: 1;
            text-align: right;
            font-size: 1.4rem;
            font-weight: lighter;
            transform: translateX(-4vw);
            color: rgba(0, 0, 0, 0.6);
          }
        }
        > .unconfirm-block {
          display: flex;
          box-sizing: border-box;
          padding: 0.2rem 0 1rem 0;
          height: 6rem;
          width: 100%;
          flex: 1.6;
          font-size: 1.5rem;
          color: rgba(122, 122, 122, 1);
          text-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.8);
          top: 0;
          text-align: center;
          > .trans_num {
            flex: 1;
            > .value {
              font-size: 2.6rem;
              height: 2.7rem;
              color: inherit;
            }
            .title {
              font-size: 1.5rem;
              color: inherit;
              ali-icon {
                font-size: 2rem;
              }
            }
          }
          > .reward {
            flex: 1;
            > .value {
              font-size: 1.7rem;
              height: 2.7rem;
              line-height: 2.7rem;
            }
          }
        }
        > .bg-image {
          position: absolute;
          z-index: -1;
          height: 100%;
          width: 110%;
          bottom: 0;
          left: -5%;
          display: flex;
          justify-content: center;
          /* box-shadow: 0 1rem 1rem 1rem #d2d2d2; */
          // mask-image: linear-gradient(
          //   to bottom,
          //   rgba(0, 0, 0, 0) 0%,
          //   rgba(0, 0, 0, 1) 6%,
          //   rgba(0, 0, 0, 1) 94%,
          //   rgba(0, 0, 0, 0) 100%
          // );
          opacity: 0.4;
          transform: translateZ(0);

          > chain-mesh {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            mask-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 1) 10%,
              rgba(0, 0, 0, 1) 90%,
              rgba(0, 0, 0, 0) 100%
            );
            > canvas {
              position: absolute;
              flex-shrink: 0;
              flex-grow: 0;
              position: relative;
              top: 10%;
              width: 80vh !important;
              height: 80vh !important;
            }
          }
        }
      }
      > .list-wrapper {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
        > .block-list {
          flex: 1;
        }
      }
    }
  }

  .block-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateZ(0);
    margin-top: -9rem !important;
    margin-top:calc(-9rem + #{constant(safe-area-inset-top)})!important;
    margin-top:calc(-9rem + #{env(safe-area-inset-top)})!important;
    /* -webkit-overflow-scrolling: auto; */
    .block-item {
      margin-right: auto;
      margin-left: auto;
      background-color: #fff;
      width: 92%;
      border-radius: 0.4rem;
      box-shadow: -0.2rem -0.3rem 2.4rem rgba(0, 0, 0, 0.12),
        0 0rem 0.2rem rgba(0, 0, 0, 0.05);
      position: relative;
      margin-bottom: #{$block-distance}rem;

      &.fake {
        /* height: 10rem; */
        opacity: 0;
        visibility: false;
        pointer-events: none;
      }
      &.latest-block {
        margin-bottom: 5rem;
      }
      > .header {
        padding: 0 1.4rem;
        padding-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .value {
          font-weight: 700;
          color: #7a7a7a;
          font-size: 2.8rem;
          text-align: center;
        }
        .title {
          font-size: 1.4rem;
          color: #62ece5;
          text-align: center;
          ali-icon {
            font-size: 1.8rem;
          }
        }
      }
      > .info {
        position: relative;
        z-index: 2;
        color: #777777;
        padding: 0.6rem 1.4rem;
        > .delay {
          text-align: right;
          padding: 0.3rem 0;
          ali-icon {
            // display: none;
            opacity: 0;
            color: #b0b0b0;
            font-size: 2.5rem;
            position: relative;
            right: -0.2rem;
          }
          &.true {
            ali-icon {
              opacity: 1;
              display: inline-block;
            }
          }
        }
        > .total-amount,
        > .height,
        > .fee {
          font-size: 1.4rem;
          display: flex;
          justify-content: space-between;
          ali-icon {
            font-size: 1.8rem;
          }
        }
      }
      &::before {
        content: " ";
        display: block;
        background-image: url("../assets/imgs/tab-chain/block-bg.png");
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 55%;
        background-position: 50% 0%;
        background-size: 160%;
        opacity: 0.6;
        z-index: 1;
      }
      $footer-height: 2.8;
      &::after {
        content: " ";
        display: block;
        position: absolute;
        background: linear-gradient(
          to right,
          #66d2fa 0%,
          #71e0ec 50%,
          #83f0df 100%
        );
        left: 0;
        bottom: 0;
        width: 100%;
        height: #{$footer-height}rem;
        z-index: 0;
      }
      &::before,
      &::after {
        border-radius: 0 0 0.4rem 0.4rem;
        /* overflow: hidden; */
      }
      > .footer {
        position: relative;
        z-index: 2;
        padding-left: 2rem;
        height: #{$footer-height}rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        ali-icon {
          font-size: 4rem;
        }
      }
      $chain-item-space: 1.4;
      > .chain-container {
        pointer-events: none;
        z-index: 3;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        height: #{$block-distance + $chain-item-space * 2}rem;
        bottom: -#{$block-distance + $chain-item-space}rem;

        $chain-width: 0.26;
        > .chain {
          height: 80%;
          width: #{$chain-width}rem;
          background-color: #fff;
          border-radius: #{$chain-width}rem;
          box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
          position: relative;
          &::before,
          &::after {
            content: " ";
            position: absolute;
            width: #{$chain-width * 4}rem;
            height: #{$chain-width * 4}rem;
            border-radius: 50%;
            background-color: #cacaca;
            left: -#{$chain-width * 1.5}rem;
            z-index: -1;
          }
          &::before {
            top: -#{$chain-width * 1.5}rem;
          }
          &::after {
            bottom: -#{$chain-width * 1.5}rem;
          }
        }
        > .left {
          &::before {
            background-color: #6ec0dd;
          }
        }
        > .right {
          &::before {
            background-color: #69c9bb;
          }
        }
      }
      &:last-child > .chain-container {
        display: none;
      }
    }
  }
}
