<ion-header>
  <!-- 我的 -->
</ion-header>
<ion-content [class.freezed]="userInfo.isFreezed" class="red-ripple">
  <div class="account-header">
    <div class="toolbar">
      <button (click)="routeTo('account-settings')">
        <ali-icon name="ifm-settings"></ali-icon>
      </button>
    </div>
    <div class="assets-info">
      <div class="ibt-value" (long-press)="tryTogglaHiddenItems()">
        <ali-icon name="ifm-coins"></ali-icon>
        <span class="value" (click)="toggleAmountView()">{{amountViewer(userInfo.balance|amountEuler|number:"1.8-8")}}</span>
        <span class="unit">IBT</span>
      </div>
      <div class="dollar-value">
        <!-- <ali-icon name="ifm-ketoujineicon"></ali-icon> -->
        <span class="pre-unit">$</span>
        <span class="value">{{amountViewer(userInfo.dollar|amountEuler|number:"1.8-8")}}</span>
        <span class="unit">USD</span>
      </div>
      <div class="address" (click)="routeTo('account-info')">{{userInfo.address}}</div>
    </div>
  </div>
  <div class="nav-list">
    <common-wave-bg class="bg"></common-wave-bg>
    <div class="nav-scroll-container">
      <!-- <div class="nav-item" (click)="routeTo('assets-assets-market')">
        <ali-icon class="left" name="ifm-shiliangzhinengduixiang2"></ali-icon>
        <div class="title">{{'ASSETS_MARKET' | translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </div> -->
      <button mat-button *ngIf="hasBalance" class="nav-item" (click)="routeTo('assets-my-assets-list')">
        <ali-icon class="left" name="ifm-shiliangzhinengduixiang3"></ali-icon>
        <div class="title">{{'MY_ASSETS_LIST' | translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <button mat-button class="nav-item" (click)="routeToMyContacts()">
        <ali-icon class="left" name="ifm-guanzhu1"></ali-icon>
        <div class="title">{{'MY_CONTACTS' | translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <button mat-button *ngIf="hasBalance" class="nav-item" (click)="routeTo('account-peer-list')">
        <ali-icon class="left" name="ifm--target-"></ali-icon>
        <div class="title">{{'PEER_LIST' | translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <!-- <div class="nav-item">
      <ali-icon class="left" name="ifm-apps"></ali-icon>
      <div class="title">应用市场</div>
      <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
    </div> -->
      <button mat-button *ngIf="hasBalance" class="nav-item" (click)="routeTo('account-my-transaction-list')">
        <ali-icon class="left" name="ifm-tran-history"></ali-icon>
        <div class="title">{{'MY_TRANSACTION' | translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <button mat-button class="nav-item" (click)="routeTo('account-voucher-wallet')">
        <ali-icon class="left" name="ifm-zhinengpingzheng"></ali-icon>
        <div class="title">{{'VOUCHER_WALLET' | translate}}</div>
        <div class="right">
          <ng-container *ngIf="voucher_total_amount">
            {{amountViewer(voucher_total_amount|amountEuler|number:'1.8-8')}}
          </ng-container>
          <ali-icon name="ifm-arrow-to-right"></ali-icon>
        </div>
      </button>
      <!-- <div class="nav-item"></div> -->
      <button mat-button *ngIf="hasBalance" class="nav-item" (click)="routeTo('account-miner-list')">
        <ali-icon class="left" name="ifm-auction"></ali-icon>
        <div class="title">{{'MINER_LIST' | translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <button mat-button class="nav-item" (click)="openSharePanel()">
        <ali-icon class="left" name="ifm-share"></ali-icon>
        <div class="title">{{'SHARE_APP'|translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <button mat-button *ngIf="force_show_hidden" class="nav-item" (click)="routeTo('subchain-issuing-subchain')">
        <ali-icon class="left" name="ifm-shiliangzhinengduixiang7"></ali-icon>
        <div class="title">{{'SUBCHAIN_GATEWAY'|translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
      <button mat-button class="nav-item" (click)="routeTo('account-about-ibt')">
        <ali-icon class="left" name="ifm-about-ibt"></ali-icon>
        <div class="title">{{'ABOUT_IBT'|translate}}</div>
        <ali-icon class="right" name="ifm-arrow-to-right"></ali-icon>
      </button>
    </div>
  </div>
</ion-content>
