.pwd-input-modal.show-page {
  > ion-backdrop {
    visibility: visible;
  }
  > .modal-wrapper {
    z-index: 10;
    position: relative;
  }
}

page-pwd-input {
  @extend .header-no-border;
  > .content {
    background-color: transparent;
    > .scroll-content {
      background-color: transparent;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      > .close-bg-layer {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        top: 0;
        left: 0;
        z-index: 5;
      }
    }
  }
  .content-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(#fff, 0.8);
    padding-top: 2rem;
    border-radius: 2rem;
    position: fixed;
    width: 80%;
    left: 10%;
    top: 15%;
    height: auto;
    > .title {
      color: #000;
      font-weight: 600;
      font-size: 1.6rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 1rem;
      text-align: center;
    }
    > .common-form {
      padding-bottom: 1rem;
      > .input-container {
        background-color: transparent;
        input {
          background-color: #fff;
          padding: 0.5rem;
          border-radius: 0.2rem;
        }
      }
      .label {
        padding-right: 0.5rem;
      }
    }
    > .submit-button {
      justify-self: flex-end;
      margin-top: auto;
      margin-bottom: 1.2rem;
    }
  }
}
