<ion-header>
<!--   <ion-navbar color="transparent">
  <ion-title>输入密码</ion-title>
</ion-navbar> -->
</ion-header>
<ion-content>
  <div class="common-form">
    <div class="input-container" *ngIf="formData.need_pay_pwd">
      <div class="left">
        <div class="label">支付密码</div>
      </div>
      <input type="password" placeholder="请输入支付密码" [(ngModel)]="formData.pay_pwd">
    </div>
    <div class="input-container" *ngIf="!formData.have_password">
      <div class="left">
        <div class="label">登录密码</div>
      </div>
      <input type="password" placeholder="请输入登录密码" [(ngModel)]="formData.password">
    </div>
  </div>
  <button class="submit-button" [disabled]="!canSubmit" (click)="submitData()">提交</button>
</ion-content>
