page-assets-destory-assets-dialog {
  // background-color: rgba(0, 0, 0, 0.3);
  > .content {
    background: none;
    > .scroll-content {
      background: none;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      /* animation-name: aplha-dark-bg-in;
      animation-duration: 300ms;
      animation-delay: 400ms;
      animation-fill-mode: forwards; */
    }
  }
  /*   @keyframes aplha-dark-bg-in {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: rgba(0, 0, 0, 0.6);
    }
  } */
  .dialog-wrapper {
    position: relative;
    // top: -11vh;
    > .close-button {
      position: absolute;
      width: 1.9rem;
      height: 1.9rem;
      padding: 0;
      box-sizing: border-box;
      font-size: 1.7rem;
      color: #fff;
      background-color: #929292;
      border-radius: 50%;
      right: -0.7rem;
      top: -0.7rem;
      text-align: center;
      line-height: 1.8rem;
      /* display: flex;
      align-items: center;
      justify-content: center; */
    }
    > .dialog-content {
      width: 76vw;
      // min-height: 12.2rem;
      height: 88.759vw;
      background-color: #fff;
      border-radius: 0.8rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.7rem;
      background-image: url("../assets/imgs/assets/destory-assets-panel-bg.jpg");
      background-size: 100% 100%;

      > .content {
        text-align: center;
        height: 12rem;
        > .title {
          color: #fff;
          font-size: 1.8rem;
        }
        > .balance {
          padding-top: 2rem;
          display: flex;
          flex-direction: row;
          align-items: baseline;
          color: #fff;
          ali-icon {
            font-size: 2rem;
            margin-right: 0.5rem;
          }
          > .amount {
            font-size: 2.6rem;
          }
          > .unit {
            font-size: 1.1rem;
            font-weight: lighter;
            margin-left: 0.5rem;
          }
        }
      }
      > .common-form {
        width: 86%;
        text-align: center;
        > .mat-container.amount {
          input/*,
          .mat-error  */,
          .mat-form-field-label {
            text-align: center;
          }
          .abbreviation{
            font-size: 1.2rem;
          }
          .abbreviation {
            color: #bbbbbb;
          }
          .mat-form-field-should-float {
            .mat-form-field-label {
              /* text-align: left; */
            }
          }
        }
        > .expected-to-be-obtained {
          padding-top: 2rem;
          > .label {
            font-size: 1.4rem;
            color: #333;
          }
          > .amount {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            color: #999;
            ali-icon {
              font-size: 2rem;
              margin-right: 0.5rem;
            }
            > .amount {
              font-size: 2.6rem;
            }
            > .unit {
              font-size: 1.1rem;
              font-weight: lighter;
              margin-left: 0.5rem;
            }
          }
        }
      }
      > .buttons {
        width: 100%;
        background: linear-gradient(top, #e1e3e2 0%, #e1e3e2 100%);
        background-size: 2px;
        background-size: 1px 1px;
        background-repeat: repeat-x;
        height: 4.92rem;
        display: flex;
        flex-direction: row;
        > button {
          flex: 1;
          height: 100%;
          line-height: 4.92rem;
          text-align: center;
          background-color: transparent;

          font-size: 1.55rem;
          margin: 0;
          &.cancel {
            color: #666;
          }
          &.ok {
            background-color: #ff6769;
            color: #fff;
          }
        }
      }
    }
  }
}
