page-sign-in-and-sign-up {
  > .content {
    > .scroll-content {
      overflow: hidden;
    }
  }
  #bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* background-color: #005687; */
    /* opacity: 0.8; */
    mask-image: radial-gradient(
      circle at 50% 70%,
      rgba(#000, 0) 0%,
      rgba(#000, 0.1) 50%,
      rgba(#000, 1) 100%
    );
  }
  #bg2 {
    position: fixed;
    width: 110vh;
    height: 110vh;
    left: calc(50vw - 55vh);
    top: 8vh;
    z-index: -1;
  }
  #bg3 {
    position: fixed;
    width: 120vh;
    height: 120vh;
    left: calc(50vw - 60vh);
    top: 7vh;
    background-image: url("../assets/imgs/net-circle.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    animation-name: rotate-bg3;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 280s;
    mask-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  @keyframes rotate-bg3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .bg-mask {
    // background: radial-gradient(
    //   ellipse at center,
    //   rgba(#0f608b, 0.85) 0%,
    //   rgba(#0f608b, 0.5) 40%,
    //   rgba(#0f608b, 0.05) 95%
    // );
    background-image: url("../assets/imgs/sign-in-up/bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }
  .bg-prefix-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    mask-image: linear-gradient(
      to bottom,
      rgba(#000, 0) 0%,
      rgba(#000, 0) 10%,
      rgba(#000, 0.8) 50%,
      rgba(#000, 1) 100%
    );
  }
  .bg-prefix {
    background-image: url(../assets/imgs/net-circle.png);
    position: fixed;
    top: 11vh;
    left: calc(50vw - 60vh);
    height: 120vh;
    width: 120vh;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    animation-name: inf-rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.9;
    /*     mask-image */
  }
  @keyframes inf-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*     background: radial-gradient(
      ellipse at center,
      rgba(#006792, 0.8) 0%,
      rgba(#006792, 0.5) 90%,
      rgba(0, 0, 0, 0) 95%
    ); */
    .title {
      color: #fff;
      font-weight: normal;
      font-size: 3rem;
      margin-top: 10.5rem;
    }
    .login-form,
    .register-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inputer-container {
        position: relative;
        width: 72vw;
        .password-inputer-wrapper {
          position: relative;
          ali-icon {
            position: absolute;
            bottom: 0.3rem;
            font-size: 1.8rem;
            color: #fff;
            &[name="ifm-cellphone"] {
              font-size: 2.1rem;
              bottom: 0.5rem;
            }
            &[name="ifm-signup-account"] {
              bottom: 0.6rem;
            }
            &[name="ifm-lock"] {
              bottom: 0.5rem;
            }
          }
        }
        .password-inputer {
          text-indent: 2rem;
          line-height: 2rem;
          margin-top: 2.5rem;
          background: transparent;
          border: none;
          border-bottom: 1px solid rgba(#fff, 0.5);
          display: block;
          width: 100%;
          font-size: 1.3rem;
          color: #fff;
          &::-webkit-input-placeholder {
            color: rgba(#fff, 0.8);
            font-size: 1.3rem;
          }
        }
        .lock-icon {
          position: absolute;
          top: 3.5rem;
          left: 0.4rem;
          font-size: 1.7rem;
          color: #fff;
          transform: scaleX(1.2);
        }
        .password-textarear {
          text-indent: 2.7rem;
          /* text-indent: 32.4px; */
          line-height: 4rem;
          margin-top: 2.5rem;
          background: transparent;
          border: none;
          display: block;
          width: 100%;
          resize: none;
          height: 16.5rem;
          min-height: 12.5rem;
          color: #fff;
          overflow-y: visible;
        }
        @font-face {
          font-family: monospace;
          src: local("Menlo");
        }
        .password-textarear {
          font-family: "PWD";
          background: linear-gradient(
            rgba(#fff, 0.5) 0%,
            rgba(#fff, 0.5) 2%,
            transparent 2%,
            transparent 100%
          );
          font-size: 1.4rem;
          background-size: 100% 4rem;
          background-position: 0 3rem;
          background-attachment: local;
          // letter-spacing: 6px;
          &.show-pwd {
            font-family: "monospace", "Menlo" !important;
          }
          &::selection {
            // color: transparent;
            background: rgba(#0f608b, 0.6);
          }
          &::-webkit-input-placeholder {
            color: rgba(#fff, 0.8) !important;
            -webkit-text-fill-color: unset !important;
            font-size: 1.3rem;
            text-indent: 3rem;
          }
        }
        .show-pwd-button {
          background: none;
          border: none;
          color: #fff;
          font-size: 2.5rem;
          position: absolute;
          bottom: 2rem;
          right: 0.5rem;
          padding: 0.5rem;
          width: 2rem;
          height: 2rem;
          > ali-icon {
            position: absolute;
            top: 0;
            left: 0;
            // width: 100%;
            // height: 100%;
            transition-duration: 0.25s;
            transition-timing-function: ease-out;
          }
          > ali-icon[name="ifm-jinzhi"] {
            opacity: 0;
            transform: scale(1.2);
          }
          > ali-icon[name="ifm-show-pwd"] {
            transform: scale(1);
          }
          &.show-pwd {
            > ali-icon[name="ifm-jinzhi"] {
              opacity: 1;
              transform: scale(1);
            }
            > ali-icon[name="ifm-show-pwd"] {
              transform: scale(0.7);
            }
          }
        }
      }
      .remember-pwd {
        align-self: flex-start;
        margin-top: 0.3rem;
        margin-bottom: 2rem;
        color: #fff;
        font-size: 1.4rem;
        font-weight: lighter;
        .checkbox-wrapper {
          display: inline-block;
          position: relative;
          width: 1.4rem;
          height: 1.4rem;
          border-radius: 50%;
          color: #0f608b;
          transform: scale(0.8);
          transform-origin: 100% 100%;
          .checked {
            background-color: rgba(#fff, 0.6);
          }
          > input:checked + .checked {
            background-color: currentColor;
          }

          #remember-pwd-checkbox {
            position: absolute;
            transform: scale(0.9285);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* color: #4deb99; */
            opacity: 0;
          }
        }
        .label-text {
          display: inline-block;
          width: 50vw;
        }
      }
    }
  }

  .submit-button {
    border-radius: 0.8rem;
    padding: 1.2rem;
    width: 75vw;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #fff;
    background: linear-gradient(to bottom, rgba(#02e5f6, 1), rgba(#01acdd, 1));
    box-shadow: 0 0 0.2rem rgba(#333, 0.5);
    transition-duration: 250ms;
    flex-shrink: 0;
    > .inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    > text-gradient {
      width: 100%;
    }
    &:disabled {
      font-weight: bold;
      opacity: 1;
      background: #fff;
      color: #00c5f2;
      .inner {
        background-image: linear-gradient(top, #02e5f6 20%, #01acdd 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .info {
    /* font-weight: lighter; */
    font-size: 1.2rem;
    color: #fff;
    margin: 1.8rem 0 1rem 1rem;
    align-self: flex-start;
    ali-icon {
      font-size: 1.5rem;
      transform: rotateX(180deg);
    }
  }

  .goto-container {
    width: 74vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin-top: 1.7rem;
    > .dot {
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      background: linear-gradient(
        to left,
        rgba(#fff, 0.5) 0%,
        rgba(#fff, 0.5) 20%,
        transparent 20%,
        transparent 100%
      );
      background-size: 0.5rem 0.1rem;
      background-repeat: repeat-x;
      background-position: 50%;
    }
    .goto-button {
      flex-grow: 0;
      flex-shrink: 0;
      height: 1.6rem;
      color: #01acdd;
      background-color: transparent;
      // font-weight: bolder;
      // background-image: linear-gradient(top, #02e5f6 20%, #01acdd 80%);
      // -webkit-text-fill-color: transparent;
      // -webkit-background-clip: text;
      font-size: 1.6rem;
    }
  }

  /* 3d效果 */
  .form-wrapper {
    /* transform-style: preserve-3d; */
    /* perspective: 2020px; */
    /* perspective-origin: 50% 10%; */
    position: relative;
  }
  .register-form,
  .login-form {
    pointer-events: none;
    position: absolute;
    top: 14rem;
    /*width=72vw,rest=28 */
    left: 14vw;
    transition-duration: 0.5s;
  }
  .login-form {
    &.login {
      pointer-events: all;
      transform: scale(1);
      opacity: 1;
    }
    &.register {
      pointer-events: none;
      transform: scale(0.4);
      opacity: 0;
    }
  }

  .register-form {
    &.login {
      pointer-events: none;
      transform: scale(0.4);
      opacity: 0;
    }
    &.register {
      pointer-events: all;
      transform: scale(1);
      opacity: 1;
    }
  }

  #font-calc {
    font-family: "monospace", "Menlo" !important;
    font-size: 1.4rem;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -100000;
    white-space: pre;
  }
}
