page-sign-in-and-sign-up {
  #bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: radial-gradient(
      ellipse at center,
      rgba(#006792, 0.8) 0%,
      rgba(#006792, 0.5) 90%,
      rgba(0, 0, 0, 0) 95%
    );
    .title {
      color: #fff;
      font-weight: normal;
      font-size: 3rem;
      margin-top: 10.5rem;
    }
    .login-form,
    .register-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inputer-container {
        width: 80vw;
        .password-inputer {
          line-height: 2rem;
          margin-top: 2.5rem;
          background: transparent;
          border: none;
          border-bottom: 1px solid rgba(#fff, 0.5);
          display: block;
          width: 100%;
          font-size: 1.3rem;
          color: #fff;
          &::-webkit-input-placeholder {
            color: rgba(#fff, 0.8);
            font-size: 1.3rem;
          }
        }
        .password-textareaer {
          line-height: 4rem;
          margin-top: 2.5rem;
          background: transparent;
          border: none;
          display: block;
          width: 100%;
          font-size: 1.3rem;
          resize: none;
          color: #fff;
          height: 10rem;
          background: linear-gradient(
            rgba(#fff, 0.5) 0%,
            rgba(#fff, 0.5) 2%,
            transparent 2%,
            transparent 100%
          );
          min-height: 12rem;
          background-size: 100% 4rem;
          background-position: 0 3rem;
          background-attachment: local;
          -webkit-text-security: disc;
          letter-spacing: 0.2rem;
          &::-webkit-input-placeholder {
            color: rgba(#fff, 0.8);
            font-size: 1.3rem;
          }
          &.show-pwd {
            -webkit-text-security: unset;
          }
        }
      }
    }
  }

  .submit-button {
    border-radius: 0.8rem;
    padding: 1.2rem;
    width: 75vw;
    font-size: 1.8rem;
    color: #fff;
    background: linear-gradient(to bottom, rgba(#02e5f6, 1), rgba(#01acdd, 1));
    box-shadow: 0 0 0.2rem rgba(#333, 0.5);
    transition-duration: 250ms;
    &:disabled {
      opacity: 1;
      background: #fff;
      color: #00c5f2;
      .inner {
        background-image: linear-gradient(top, #02e5f6 20%, #01acdd 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .info {
    font-size: 1.2rem;
    color: #fff;
  }

  .goto-container {
    width: 74vw;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    > .dot {
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      background: linear-gradient(
        to left,
        rgba(#fff, 0.5) 0%,
        rgba(#fff, 0.5) 20%,
        transparent 20%,
        transparent 100%
      );
      background-size: 0.5rem 0.1rem;
      background-repeat: repeat-x;
      background-position: 50%;
    }
    .goto-button {
      flex-grow: 0;
      flex-shrink: 0;
      background-image: linear-gradient(top, #02e5f6 20%, #01acdd 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  /* 3d效果 */
  .form-wrapper {
    transform-style: preserve-3d;
    perspective: 2020px;
    perspective-origin: 50% 100px;
    position: relative;
  }
  .register-form,
  .login-form {
    position: absolute;
    top: 14rem;
    -webkit-transform-origin-z: -230px;
  }
}
