<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'ACCOUNT-MINER-LIST'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <img src="file:///C:/Users/gaube/Documents/ifm/_design/ifm-app-v2/jpg/%E7%9F%BF%E5%B7%A5%E5%88%97%E8%A1%A8.jpg" alt=""> -->
  <div class="common-list cur-rank-list">
    <div class="header">
      <div class="left">
        <div class="title">{{'CUR_MINTER_RANK_RANKING'|translate}}</div>
        <div class="num">{{cur_minter_rank_list?.length}}</div>
      </div>
      <div class="right" (click)="routeTo('account-miner-scorll-list')">
        <ali-icon name="ifm-arrow-dot-dot"></ali-icon>
      </div>
    </div>
    <button mat-button class="common-item" *ngFor="let minter of show_cur_minter_rank_list" (click)="routeTo('vote-delegate-detail',{delegate_info:minter})">
      <div class="line">
        <div class="No" [attr.no]="minter.No">{{minter.No}}</div>
        <div class="address" [innerHTML]="minter.address|mask:'@address'"></div>
      </div>
    </button>
  </div>
  <div class="common-list can-rank-list" *ngIf="can_minter_rank_list?.length">
    <div class="header">
      <div class="left">
        <div class="title">{{'CAN_MINTER_RANK_RANKING'|translate}}</div>
        <div class="num">{{can_minter_rank_list?.length}}</div>
      </div>
      <div class="right" (click)="routeTo('account-miner-scorll-list')">
        <ali-icon name="ifm-arrow-dot-dot"></ali-icon>
      </div>
    </div>
    <button mat-button class="common-item" *ngFor="let minter of show_can_minter_rank_list" (click)="routeTo('vote-delegate-detail',{delegate_info:minter})">
      <div class="line">
        <div class="No" [attr.no]="minter.No">{{minter.No}}</div>
        <div class="address" [innerHTML]="minter.address|mask:'@address'"></div>
      </div>
    </button>
  </div>
<!--   <div class="common-list cur-peer-list">
    <div class="header">
      <div class="title">{{'SERVERING_PEER_LIST'|translate}}</div>
    </div>
    <div class="row table-head">
      <div class="item ip">
        <ali-icon name="ifm-account"></ali-icon>
      </div>
      <div class="item height">
        <ali-icon name="ifm-resize-height"></ali-icon>
      </div>
      <div class="item ping">
        <ali-icon name="ifm-delay"></ali-icon>
      </div>
      <div class="item linked-number">
        <ali-icon name="ifm-wallet2"></ali-icon>
      </div>
      <div class="item system-type">
      </div>
    </div>
    <div class="row common-item" *ngFor="let peer of cur_peer_list">
      <div class="item ip" [innerHTML]="peer.ip|mask:'@ip'"></div>
      <div class="item height">{{peer.height}}</div>
      <div class="item delay">{{peer.delay|number:'1.0-0'}}ms</div>
      <div class="item linked-number">{{peer.webChannelLinkNum}}</div>
      <div class="item system-type">
        <ali-icon [name]="peerService.getSystemTypeIcon(peer.platform)"></ali-icon>
      </div>
    </div>
  </div> -->
</ion-content>
